[2015-02-13 03:44] joeybloggs opened #1 "Add more baked in functions + Testing Scenarios"
Add more baked in functions for regular checking scenarios

is alphanumeric, is number etc... and their associated testing scenarios

[2015-02-13 13:37] joeybloggs opened #2 "Modify Error structs to comply with the Error interface"
Modify Error structs to comply with the Error interface

[2015-02-13 14:02] #2 closed

[2015-02-13 14:03] joeybloggs opened #3 "Add Testing Scenarios to all existing baked in functions."
Add Testing Scenarios to all existing baked in functions.

[2015-02-13 19:24] #3 closed

[2015-02-13 19:25] joeybloggs opened #4 "Add documentation"

[2015-02-14 00:43] joeybloggs opened #5 "Add flattening function for results in different format"
results will be a flattened array with struct names and field name combined like a namespace.

[2015-02-14 02:47] #5 closed

[2015-02-14 18:01] #4 closed

[2015-02-14 18:02] joeybloggs opened #6 "Add ability to validate interfaces"
Add ability to validate interfaces

[2015-02-14 18:33] #6 closed

[2015-02-15 12:31] joeybloggs opened #7 "Add or option"
add or option to the tag section for example

[2015-02-15 15:55] #7 closed

[2015-02-25 20:11] #1 closed

[2015-03-01 13:13] joeybloggs opened #8 "code cleanup to meet coverage tests"
code cleanup to meet coverage tests using go test -cover

[2015-03-01 15:36] #8 closed

[2015-03-01 18:28] joeybloggs opened #9 "add automated testing"
add automated testing with travis ci

[2015-03-02 11:19] #9 closed

[2015-03-06 13:41] joeybloggs opened #10 "Add Cross Field Validation"
V2 - New Version - Breaking Change

This will be a breaking change because the validation function definition has to change, but will be no more complicated than is is now to add custom functions.

Dilema
=======

Solution
=======

Other Changes
=======

NOTES
=======
1. Since people will name their fields differently and have unique and specific needs, there will most likely never be any baked in

[2015-03-06 17:06] #10 closed

[2015-03-10 17:58] joeybloggs opened #11 "Update gt, gte, lt and lte validators to handle DateTimes compared to the time.Now().UTC()"
There are too many variables to take into account for passing in a time to be validated against or doing anything other than UTC time without creating a custom function for your particular application.

Dates should be stored within the database as UTC, if anyone disagrees they'll have write your own validation function to handle your specific scenario.

[2015-03-10 21:26] #11 closed

[2015-03-10 21:40] joeybloggs opened #12 "Add returning of Type along with Kind to differentiate struct types"
Add returning of Type along with Kind to differentiate struct types such as struct vs time.Time for message handling within the referencing application.

[2015-03-10 21:59] #12 closed

[2015-03-11 00:20] joeybloggs opened #13 "Add generic cross field validation for number and time.Time types for struct type not individual field validation"
add to gt, gte, le and lte

this will allow generic Start vs End Time validation and Range Validation

example:

[2015-03-11 00:57] joeybloggs commented on #13
Will add new validators ltfield, ltefield, gtfield and gtefield, was originally going to add functionality to lt, lte, gt, and gte, which is possible, but the overhead of all of the type and fallback checks it will be much more efficient to add the new validators

[2015-03-11 03:38] #13 closed

[2015-03-11 03:43] joeybloggs opened #14 "Remove internal validator"
Breaking change create branch v3

internal validator was a bad idea, each package you include it in a new internal validator is used and custom functions  have to be re-added and so forth; it is better to create a new one that the application/user can manage and pass around if they like.

[2015-03-11 04:21] #14 closed

[2015-03-19 19:50] JeffFrancomMA opened #15 "Improper ValidateStructRecursive call"
Recursive Structs should be validated on ValidateStructRecursive rather than ValidateStruct

[2015-03-19 19:56] #15 closed

[2015-03-20 15:25] JeffFrancomMA opened #17 "Possible inversion of GteField and LteField"
It appears that the GteField and LteField validators are inverted and comparing the wrong less/greater than.

Ex. Failing on "createdAt" : ISODate("2014-10-15T16:30:10.000Z"),  "updatedAt" : ISODate("2015-03-20T14:45:06.061Z")

[2015-03-21 16:31] joeybloggs commented on #17
Tested with the exact dates provided and validation is working as expected.

[2015-03-21 16:31] #17 closed

[2015-03-21 16:39] joeybloggs opened #18 "Add new tag "structonly""
a flag is needed to identify that validation should run for  a struct i.e. struct is required but not validate it's containing fields.

example:
type Inner struct{
  Test string `validate:"len=5"`
}

type Outer struct{
  InnerStruct Inner `validate:"required,structonly"`
}

in the above example InnerStruct will validate on the required, but Inner's Test field will not be validated.

[2015-03-21 17:42] #18 closed

[2015-03-23 14:03] joeybloggs opened #20 "baked in cross field validation validating against top level struct, but should be same level"
Add one more param passed to validation functions which contains the current level struct.

although a small change, it is breaking so a new version v4 branch will be created to be consistent; it will allow for some other minor changes to be made at the same time for efficiency.

[2015-03-23 18:03] #20 closed

[2015-04-19 03:43] muyiwaolurin opened #30 "Add Base 64 Validation"
Regular expression for matching base64 encoded strings

`base64`
This validates that a string value contains a valid encoded base 64

(Usage: base64)

[2015-04-19 14:42] joeybloggs commented on #30
added

[2015-04-19 14:42] #30 closed

[2015-05-08 12:58] joeybloggs opened #35 "Add eq and eqfield validators"
eqfield would be useful comparing that password and confirm password are equal.

eq would be useful in combination with the 'or' ( | ) operator to ensure that a value is one of a specific value.

[2015-05-08 16:14] #35 closed

[2015-05-19 19:18] joeybloggs opened #38 "Add ne and nefield functions"
sometimes you want to make sure that data is not equal to any other, for example for another project I need to store color codes which represent different application states, and need to verify that none of the colors are equal.

[2015-05-19 19:42] #38 closed

[2015-05-21 15:38] joeybloggs opened #43 "Add has and hasAny validators"
Example:

This will allow a field, say username, to exclude a character or string.

And has any will exclude any of the characters provided

AndcontainsAny

[2015-05-22 02:35] manucorporat opened #44 "Error() prints too many end-lines"
Since the errors reported by validator will be likely sent through JSON or printed in a log:
I would recommend to remove most of the end-lines:

[code]

instead of:
[code]

[2015-05-22 11:41] joeybloggs commented on #44
I agree this makes sense for logging, I will remove the line breaks.

I do however feel the need to point out that, like the documentation states, these errors are intended for debugging and not production error messages.

For example the end user would probably want to see the error

Instead of

[2015-05-23 00:26] joeybloggs commented on #43
adding hasRune as well to mach golang contains string params

[2015-05-23 01:02] manucorporat commented on #44
I am working in a complete integration with gin, this is a automatic generated error JSON.
[code]
see! there are many end-lines in the error message.

[2015-05-23 01:06] joeybloggs commented on #44
I am working on this and a few other things and should be completed within the next few hours.

[2015-05-23 01:13] manucorporat commented on #44
@joeybloggs nice!
check out my work in progress, maybe we should join efforts (but for now... I am going to sleep ;) )
https://github.com/gin-gonic/validator/commit/474180a2dd22572102897e4db08c6fddbac5c767
https://github.com/gin-gonic/gin/commit/784d73477d056308e8c6ea666d52048906e48a7c

[2015-05-23 01:16] manucorporat commented on #44
offtopic: I love the new v5 API. nice work!

[2015-05-23 01:18] joeybloggs commented on #44
thanks @manucorporat

I'll take a look

[2015-05-23 02:26] joeybloggs commented on #43
modified to use contains, containsany and containsrune

and added excludes, excludesall and excludesrune

[2015-05-23 02:36] #44 closed

[2015-05-23 02:36] #43 closed

[2015-05-23 20:33] manucorporat commented on #44
nice!

[2015-05-25 13:18] pavlik opened #48 "Enable Sourcegraph"
I want to use [Sourcegraph](https://sourcegraph.com) for validator code search, browsing, and usage examples. Can an admin enable Sourcegraph for this repository? Just go to https://sourcegraph.com/github.com/bluesuncorp/validator. (It should only take 30 seconds.)

Thank you!

[2015-05-25 14:17] joeybloggs commented on #48
OK I believe this is all setup now.

If you could please confirm, then I'll close this issue.

[2015-05-25 14:47] pavlik commented on #48
Confirm! Working.

[2015-05-25 15:25] #48 closed

[2015-05-25 15:30] joeybloggs commented on #48
@pavlik thanks for the interest!

[2015-06-05 13:14] joeybloggs opened #55 "Investigate Caching"
See if caching would speed up subsequent validations, if it makes a significant difference, add a cache option and set it to true by default. The option is to allow those that still require the lowest footprint possible, besides it's already fast.

**NOTE: be sure to grab the underlying type

[2015-06-05 13:25] joeybloggs opened #56 "Investigate Reusing FieldError && StructErrors structs"
look into reusing these structs, using channels, to reduce memory allocations even further

[2015-06-06 12:27] sathibault opened #57 "Can't download"
The get command hangs:
$ go get -v -u gopkg.in/bluesuncorp/validator.v5
Fetching https://gopkg.in/bluesuncorp/validator.v5?go-get=1
Parsing meta tags from https://gopkg.in/bluesuncorp/validator.v5?go-get=1 (status code 200)
get "gopkg.in/bluesuncorp/validator.v5": found meta tag main.metaImport{Prefix:"gopkg.in/bluesuncorp/validator.v5", VCS:"git", RepoRoot:"https://gopkg.in/bluesuncorp/validator.

[2015-06-06 12:44] sathibault commented on #57
Trying this another way I get:
$ go get -v github.com/bluesuncorp/validator
github.com/bluesuncorp/validator (download)
# cd /home/pico/go-packages/src/github.com/bluesuncorp/validator; git checkout master
error: pathspec 'master' did not match any file(s) known to git.
package github.com/bluesuncorp/validator: exit status 1

[2015-06-06 13:17] sathibault commented on #57
Problem solved.  It looks like it just doesn't work with older version of git.

[2015-06-06 13:17] #57 closed

[2015-06-08 03:42] joeybloggs commented on #55
after looking into a little bit, caching will need to be automatic, because of the code changes needed for it cause the program to slow down.

[2015-06-08 12:53] joeybloggs commented on #55
Drastically improved time, B/op and memory allocations

[code]

[2015-06-08 12:55] #55 closed

[2015-06-08 20:38] joeybloggs opened #63 "Don't TrimSpace param as space could be a valid option"
for example if I want to excludeall= @ <- space and @
the space is currently being trimmed away

[2015-06-08 20:56] #63 closed

[2015-06-09 00:28] joeybloggs opened #67 "Investigate using comma and = within the params"
for example excludesall=!@#$%^&*()_+,=

I suspect comma will have to be a special case, maybe use it's hex equivalent and replace while processing

[2015-06-09 00:43] joeybloggs commented on #67
changes implemented, changes will be in next release

[2015-06-09 01:25] joeybloggs commented on #56
only StructErrors can be reused with the updated code structure

[2015-06-09 01:38] joeybloggs commented on #56
[code]

[2015-06-09 01:52] #67 closed

[2015-06-09 01:52] #56 closed

[2015-06-09 01:57] joeybloggs opened #72 "Update README"
to highlight this library's unique features
showcase some benchmarks
and give a quick usage example ( just like in the godocs )

[2015-06-09 13:09] joeybloggs commented on #72
also add a github project page

[2015-06-17 13:18] joeybloggs opened #74 "V6 future Changes"
### Config Struct

### Name Updates

### Error Hierarchy

### Remove Deprecated methods

[2015-06-18 13:43] joeybloggs opened #78 "Add support to validate fields or structs nested within arrays, slices and maps"
this was prompted by pull request https://github.com/gin-gonic/gin/pull/224 for @manucorporat

add an additional tag called "dive", this will let the library know to dive into the array or slice; additionally any validations such as gt=0 that appear after dive can be applied to simple data types, while maintaining the validation on the actual array field before the dive tag.
i.e.
[code]

Now the h

[2015-06-20 14:29] joeybloggs opened #79 "Fix Issue with nested struct as pointer being nil"
when a nested struct is defined as a pointer and is of nil value validation is failing

must also handle the required and omitempty tags, sometimes nil is ok

[2015-06-20 16:05] #79 closed

[2015-06-27 18:44] joeybloggs commented on #78
see documentation for the new "dive" tag

benchmarks have slightly increased ns/op and B/ops for this functionality and an additional allocation for single field validation.
[code]

[2015-06-27 18:46] #78 closed

[2015-06-28 16:38] semihalev opened #85 "v5.9 panic"
Hi All,

I use github.com/gin/gin-gonic web framework, and the framework use your validator and i received panic every request. Here the panic log.

2015/06/28 19:32:07 Panic recovery -> runtime error: index out of range
/usr/local/go/src/runtime/panic.go:387 (0x466f18)
        gopanic: reflectcall(unsafe.Pointer(d.fn), deferArgs(d), uint32(d.siz), uint32(d.siz))
/usr/local/go/src/runtime/panic.go

[2015-06-28 19:19] joeybloggs commented on #85
from gin issue: https://github.com/gin-gonic/gin/issues/355

The validator version is latest 5.9.

The code:
[code]
The POST Payload: {"userid":"123456", "action":10000}

[2015-06-28 19:52] joeybloggs commented on #85
quick update, it looks like I have a bug handling type interface.

the error stack trace you provided, suggests a different issue, I suspect that the real error was recovered from within gin, and because of that the cache within the validator plugin got out of sync and caused the issues your having now.

I will refactor the code not to store the cached data until all fields have been processed suc

[2015-06-29 02:02] joeybloggs opened #88 "Update Flatten() function to handle new dive functionality"
The Flatten() function was overlooked to when adding the new dive funtionality

[2015-06-29 02:03] #85 closed

[2015-06-30 00:19] joeybloggs commented on #88
newest benchmarks

[code]

[2015-06-30 01:02] #88 closed

[2015-07-04 17:17] joeybloggs opened #92 "Add coverage badge"
I have always maintained 100% test coverage, just thought I'd add the badge and automated test to the build tests.

[2015-07-04 18:03] #92 closed

[2015-07-05 01:36] manucorporat opened #98 "using sync.Pool"
This is just a suggestion: so instead of implementing your own pool:
https://github.com/bluesuncorp/validator/blob/v5/validator.go#L47-L52

it could be a good idea to use the built-in pool implementation of the sync package.

[2015-07-05 14:31] joeybloggs commented on #98
I will look into it, thanks!

[2015-07-05 14:46] joeybloggs opened #99 "Question for all using this library - is the hierarchical error structure useful?"
Hello All!

Since implementing the "dive" tag, I have been questioning whether the hierarchical data structure is the best option, mainly because of the extra overhead and placeholder errors needed.

I could store the struct name, field name and name-spaced name on the field error and could just return a map of map[string]*FieldError where the key is the name-spaced name; with this approach I shou

[2015-07-05 14:47] joeybloggs commented on #99
@manucorporat I would definitly be interested in your opinion

[2015-07-05 15:23] joeybloggs commented on #98
it helps with parallel benchmarks a bit and slightly increases the non parallel ones, but it's negligible.

since this library is fully thread safe and I suspect will be used within a webserver or some other logic that will be parallelized this change will help with that.

so going forward with the change.

[2015-07-05 16:13] manucorporat commented on #98
Awesome, here another advantage:
- less code -> less possible bugs

:smile:

[2015-07-05 16:29] joeybloggs commented on #98
True,

ok v5.10 is now out, I had to drop support for go 1.2 for this change, but I think that's more than justified.

[2015-07-05 16:29] #98 closed

[2015-07-06 17:14] manucorporat commented on #98
@joeybloggs yes! I think it is ok to drop support for Go 1.2.
Go 1.4.2 is the most stable version to date and it is the default one in Google App Engine, so...

[2015-07-07 10:27] #72 closed

[2015-07-09 09:53] manucorporat opened #106 "Interface still makes validator panic"
Validator still crashes when passing struct with interface{}.

[code]

code:

[code]

[2015-07-09 16:55] joeybloggs commented on #106
I will take a look at this as tonight

[2015-07-09 17:52] manucorporat commented on #106
ok... this is so weird. now it does not panic. I need to investigate as well.

[2015-07-09 17:55] manucorporat commented on #106
@joeybloggs ok, never mind! yes it panics:
this HTTP request for example:
[code]

[2015-07-09 17:58] joeybloggs commented on #106
thanks @manucorporat I was having trouble making it panic myself, looking into this now.

[2015-07-09 18:44] joeybloggs commented on #106
hey @manucorporat I've corrected this issue and have published release 5.10.1
the panic was an edge case where the the interface had a value and no validation tag, was a simple fix.

based on your comment in the gin issue, I hope you aren't too disappointed with my library because of a couple issues.

P.S. based on the question in #99 I would love your opinion, if you have time

[2015-07-09 18:44] #106 closed

[2015-07-10 00:00] manucorporat commented on #106
@joeybloggs well, it is disappointing because there is not very stable validation library out there. yours is still improving and the rest are not good or abandoned.

[2015-07-10 00:01] manucorporat commented on #106
@joeybloggs we are working in very a complete suite of unit tests. can you connect to Skype?

[2015-07-10 00:03] joeybloggs commented on #106
Yes will connect in a minute

[2015-07-10 01:57] joeybloggs commented on #99
After a bunch of discussions it has been decided, in v6 I will drop the error hierarchy and just return the field errors. see #74

[2015-07-10 01:57] #99 closed

[2015-07-16 12:36] joeybloggs commented on #74
## Ok v6 Benchmarks ( old v5 thrown in for comparison )

#### Old v5 no caching
[code]
#### New v6 no caching
[code]

#### Summary
Overall better performance, lower B/op and less allocations...except for Single Field validations which increased slightly; However to note the new v6 code is vastly simplified, streamlined and more maintainable.

[2015-07-16 13:30] joeybloggs commented on #74
Added just ValidationErros caching, more to come
[code]

[2015-07-17 02:40] joeybloggs commented on #74
Added back tag parsing caching
[code]

[2015-07-17 03:23] joeybloggs commented on #74
Added back struct caching, but now am torn...although it helps with B/ap and allocs/op for struct validation it absolutely kills parallel ns/op..just compare with above.
[code]

[2015-07-17 03:31] joeybloggs commented on #74
which is more important faster library or less garbage collection, guess I'll have to see how long garbage collection takes, if it's more than the time added to parallel ns/op then it's worth the performance hit as in actuality it would be faster, just the benchmarks wouldn't reflect that.

[2015-07-17 13:00] joeybloggs commented on #74
OK so decided to leave struct caching out, speed and scalability is the goal of the library and struct caching slows the speed and scalability and so a few more allocation, IMHO, are not a big deal.

[2015-07-19 16:11] joeybloggs commented on #74
v6 is now ready to rock! will be releasing after a few of the major players using the library have had a chance to review.

@manucorporat if you wanted to take a look as I think it affects your project the most

[2015-07-21 10:24] joeybloggs commented on #74
Currently putting through it's paces in an internal project, and will be released soon

[2015-07-22 01:16] #74 closed

[2015-07-27 02:34] joeybloggs opened #125 "Help with Logo creation"
#### Summary
In short I'm no artist, I'm looking to create a logo for this library; hopefully someone can help.

#### Criteria: NONE

#### Nice to Have
* go/golang gopher included
* some reference to Firefly ( hence the organization name bluesuncorp ) browncoats forever!

#### Please upload images within your comments

[2015-07-28 15:46] johnniedoe opened #133 "Add Valuer interface support"
The Valuer interface in the sql/driver package seems like one of the primary ways for SQL drivers and ORMs to interact with databases, particularly when NULL values are a possibility.

It would be great if the validator could apply validations directly to Value() values in the case of a type that supports the interface.  This would make validations on values of type sql.NullXXX much more straightf

[2015-07-29 00:21] joeybloggs commented on #133
I think I understand what you saying,

Would you be able to provide a quick code sample and I'll take a look.

P.S. are you using v5 or v6 of the library?

[2015-07-29 02:54] joeybloggs commented on #133
#### Summary
OK so I did an implementation test for validating a type of Valuer and it all works except, that there is a performance hit and I'm not sure that this type of functionality should be within the library. The library validates data values, not data values from methods, I'm worried about opening a door to allow other interface types, and checking each is expensive, but usually less so in

[2015-07-29 04:32] johnniedoe commented on #133
I'm currently using v5 w/gin, but I put together a test implementation for v6.  It's under:  https://github.com/johnniedoe/validator

I was able to avoid the extra allocations, and it seemed to run the benchmarks w/o much noticeable performance impact.

A lot of structs that interface w/SQL may have Valuer fields, so I thought it'd be handy to have.
If you want to keep the core validator free of c

[2015-07-29 10:08] joeybloggs commented on #133
I will take a look before work this morning, I am still on the fence about adding but will let you know today regardless.

Thanks so much and I'm glad you like the library!

[2015-07-29 12:03] johnniedoe commented on #133
I'm starting to wonder if it would make more sense as a baked-in validator.

Having it automatically applied is handy in most cases, but may violate the
principle of least surprise.  If someone happens to implement Valuer in a sub-struct,
they'd lose the ability do per-field validations on that struct.  Having it need to get
explicitly called or enabled during config might be the safer option.

[2015-07-29 12:33] joeybloggs commented on #133
#### Summary
ok this was a tough one, I was able to implement without affecting allocations nor other performance impacts by tweaking your example a bit, see https://github.com/joeybloggs/validator/tree/add-sql-valuer and it's accompanying benchmarks below.

however I had to take a step back and reevaluate what this library should be doing, what decisions it should be making and more importantly n

[2015-07-29 13:27] joeybloggs commented on #133
Hey @johnniedoe just saw your comment above my last, looks like we commented at about the same time so I almost missed it.

I don't know if it would work as a baked in validator function because a few variables are out of scope at that point, such as field name, tags, ValidationErrors etc.. and after extracting the Value from Valuer you would have to call the traverseField function to do all the c

[2015-07-29 15:28] johnniedoe commented on #133
I see your point that it is essentially a one-off.  It may be a fairly common use-case, but the solution is a one-off nonetheless.

Taking a step back, it seems that the broader questions are:
* Should the validator have the ability to directly validate types that the end-user cannot add tags to?
* If so, what is the best mechanism for enabling such functionality?

The first is a question of scope

[2015-07-29 17:47] joeybloggs commented on #133
@johnniedoe you gave me an idea maybe in the config I could have a map[reflect.Type]Func
where Func is a function type that you have to comply with, like the baked in validator function, and the end user can fill this map with all of the types they wish to run a special function on and I can check if that type is within the map and if it is run the function which will return a value and I can vali

[2015-07-30 12:52] johnniedoe commented on #133
That seems like a pretty good solution.
I'll need to list all of the concrete types of the Valuers when using it, but it's just done once at Config time.

If the typeOverride code in the validator checks that len(TypeOverrides) > 0 before doing the map lookup, it should incur essentially no cost unless it is actually used.

I should probably mention that since reflect.Types are interface types, ma

[2015-07-30 15:06] joeybloggs commented on #133
@johnniedoe perfect, yep the boolean check is exactly what I had in mind but check the len during the validator initialization within the New() function and set it as a value on the config object.

I think map type lookups are ok, even if a little slow in comparison to int, doing it this way would be optional and if they don't want the extra overhead they can always extract the value themselves an

[2015-07-30 15:50] alioygur opened #134 "validate.Struct() always return error"
hi, i am new in golang, maybe that problem about me.

when i use validator.Struct() in a function that return named error, the err var always not nil

[code]

but when i use it like this, it works

[code]

so what the problem ?

[2015-07-30 20:43] joeybloggs commented on #134
Hey @alioygur that's an interesting one, I do have a few questions:
* what version of this library are you using v5 or v6?
* how are you checking if the error is nil or not from the calling code? could you provide a sample?

This is just a guess before I can get how your checking the nil, but if your using v6 and you are printing the error and it outputs map[]  this is a let's call it goism for la

[2015-07-30 20:57] alioygur commented on #134
i am using v6, there is sample.

[code]

[2015-07-30 21:06] joeybloggs commented on #134
I will take a look at this asap, probably a little later tonight and get back to you.

[2015-07-30 21:08] joeybloggs commented on #134
P.s. doe's it work without name error parameters?

[2015-07-31 00:04] joeybloggs commented on #134
This is a little tricky to explain, but I'll try my best:

#### Understanding By-Reference for map
ok so like I have mentioned above map is one of go's by reference data types, so what that means is that the map is actually a pointer to location in memory. In this case the pointer can point to a valid ValidationErrors object or nil; but either way the pointer is always valid even if the value it p

[2015-07-31 03:08] joeybloggs commented on #133
Hey @johnniedoe I added this in https://github.com/bluesuncorp/validator/releases/tag/v6.2

thanks for your ideas!
I didn't want to have to think about it over the long weekend, so now I don't have to :smile:

[2015-07-31 03:08] #133 closed

[2015-07-31 15:32] alioygur commented on #134
@joeybloggs so so thank you for your response. i will not use the named error.

[2015-07-31 16:28] joeybloggs commented on #134
No problem @alioygur I'll leave this issue open for a few days before I close it.

If you have any more questions, issues or any recommendations don't hesitate to ask!

[2015-07-31 16:37] alioygur commented on #134
@joeybloggs , can you review [this code](https://github.com/alioygur/goaligo/blob/master/post.go) for me ?

[2015-07-31 16:44] joeybloggs commented on #134
Sure

[2015-07-31 17:55] joeybloggs commented on #134
It seems like you have a pretty good grip on go, code looks very good. And FINALLY! someone using the "dive" tag I worked so hard to have that work like it does :smile:

I would recommend a few things, but they are minor and some just pure preference.

#### 1. DeletePost possible issue, see comment in code
[code]

#### 2. Functions that don't return a new parameter
this ones totally a preference,

[2015-07-31 18:02] joeybloggs opened #138 "Projects using this - would you like to be linked from the README"
Hello everyone,

I was looking to start a list of projects on my README that are using this library in the hopes of not only satisfying my own curiosity, but also to promote your works and hopefully draw others to both of our works.

So please comment with the link to your project, if you want, and let me know with a +1 if it would be alright to add your project to the README, otherwise I will ass

[2015-07-31 19:04] alioygur commented on #134
Tank you so much dear. I am not on computer now.  I will reply to you
later.
On Jul 31, 2015 8:55 PM, "Dean Karn" <notifications@github.com> wrote:

[2015-08-03 11:48] alioygur commented on #134
@joeybloggs i agree with your all caveats. i will refactor my code by your caveats.

thank you.

[2015-08-03 12:28] joeybloggs commented on #134
No problems @alioygur, going to close this issue now and if you have anymore questions, just shoot me an email.

[2015-08-03 12:28] #134 closed

[2015-08-03 22:04] davisford opened #142 "How to validate `bool`"
[code]

Using gin-gonic/gin with this, when it marshals JSON into a struct, this passes:

[code]

But this fails, b/c it is the golang zero-value for `bool`

[code]

I just want to validate that the property **exists** -- if it exists, I know it will have a value of true or false.

Nothing obvious popped out at me from: https://godoc.org/gopkg.in/bluesuncorp/validator.v5#pkg-variables

[2015-08-03 22:54] joeybloggs commented on #142
I think there may be some small confusion about how this works.

Validator validates the data within the struct after it has been in unmarshalled from JSON.

So the steps that happen are:
* JSON post received
* during Bind the struct is initialized
* the JSON is unmarshalled into the structure variables

Since go is statically typed, regardless if truthiness is passed or not, the structure will al

[2015-08-03 23:23] joeybloggs commented on #142
Give me a few minutes, I have an idea that may work for you.

Just tied up at the moment

[2015-08-03 23:50] joeybloggs commented on #142
I was thinking you could make the bool value a pointer, then it would fail when no value was present, but it would still fail ifvaluewas false so that won't work.

I may look into adding a new tag, "exists" it will not have any validation functions associated with it, however will be the failure tag when value is a pointer and is value of nil.

In the mean time however, there really isn't a way to

[2015-08-04 00:50] davisford commented on #142
I was going to maybe take a stab at writing a custom validator that could just check if something exists, but I figured I'd ask here first in case I misread the situation.

[2015-08-04 01:28] joeybloggs commented on #142
I'm actually in the middle of adding the "exists" tag it's seem to work well when using bool as a pointer, will let you know when it's released; hopefully tonight.

[2015-08-04 01:34] davisford commented on #142
Awesome!  thanks!

[2015-08-04 01:42] joeybloggs commented on #142
Hey @davisford, guess I was closer than I though lol

#### Example
if you use "exists" tag like below and bool is a pointer you will get the functionality you are looking for.
NOTE: this works with any Pointer, Interface or Invalid Type.
[code]

#### Notes
This change was implemented in v6 and back-ported to v5.

I Highly recommend everyone to update to v6 if possible as some things added in v6 al

[2015-08-04 02:29] davisford commented on #142
Awesome -- thank you.  I may have to make my own fork of gin and update to v6.  Might take a bit -- sounds like you tested it out...feel free to close the issue.  I appreciate the super immediate response time.

[2015-08-04 03:00] joeybloggs commented on #142
no problems, yes I tested with your exact scenario with bool as a pointer and using exists flag.

P.S. @davisford I think gin allows for custom/other validation libraries to be plugged in, in this case just the updated version, however I don't have a link to the commit, or documentation.

P.P.S star if you like, just trying to get more stars than the other validators out there, even ones that are

[2015-08-04 03:00] #142 closed

[2015-08-05 11:03] joeybloggs commented on #142
Hey @davisford I came across how to add your own validator in gin to avoid forking, it's in this issue 2nd or 3rd comment https://github.com/gin-gonic/gin/pull/224#issuecomment-117567957

[2015-08-08 01:41] joeybloggs opened #149 "Add StructPartial function to allow for conditional validation"
#### To Add
Add StructPartial function to allow for conditional validation. some people require contextual validation, this will give them the option to include or exclude fields on the struct for their needs.
[code]

[2015-08-08 18:57] jtriber commented on #149
Suggesting the following changes to make the behavior clear at the call level:

// keep this as a single function but make it private
structPartial(current interface{}, exclude bool, fields map[string]struct{}) ValidationErrors  {...}

// public interface
StructPartial(current interface{}, fields map[string]struct{}) ValidationErrors
StructExcept(current interface{}, fields map[string]struct{}) Va

[2015-08-16 02:43] joeybloggs opened #150 "V7 in the works!"
#### What v7
I know I said v6 was intended to be long term stable, and it was, the breaking change is so small, but a breaking change non the less so v7 is underway, need to pass Validator instance into the validation functions themselves.

#### What's new and why do I care to update to v7?
Cross Struct field validation/comparison via tags
Currently you can validate that field say is greater than

[2015-08-19 17:23] joeybloggs commented on #149
closing this issue, but am still interested in help with documentation + examples.

[2015-08-19 17:23] #149 closed

[2015-08-20 01:17] joeybloggs commented on #150
v7 has been released! see release notes here: https://github.com/bluesuncorp/validator/releases/tag/v7

giving a shout out to a few people that contributed code, ideas or may have just started using the library:
@jtriber
@ardan-bkennedy
@muyiwaolurin
@johnniedoe
@manucorporat
@davisford

[2015-08-20 01:17] #150 closed

[2015-08-22 13:19] gayanhewa opened #165 "Unable to get validator"
This is what I get when I run go get , any idea what I am doing wrong ?

    # gopkg.in/bluesuncorp/validator.v7
    src/gopkg.in/bluesuncorp/validator.v7/validator.go:43: undefined: sync.Pool

[2015-08-22 13:57] joeybloggs commented on #165
What version of Go are you using?

it sounds like you're using an older version of Go, I believe sync.Pool is only in go 1.3 and above

[2015-08-22 14:02] gayanhewa commented on #165
Looks like it then. I am on 1.2.1 I will probably upgrade.

[2015-08-22 14:02] #165 closed

[2015-09-22 22:30] digitalcrab opened #174 "Is there any possibility to specify custom message for error?"
Hey
Thank you for your great library. Please see the subject ;)
Especially if I have custom validation tag, I want to attach my own message.

Yes, I have a map of errors and I can do wherever I want with it. But, I mean maybe it is better to have something more userfriendly errors. Like "Fielt a should be 5 or more characters length". I mean custom errors for each tag.

Thank you

[2015-09-23 00:55] joeybloggs commented on #174
Hello @fromYukki ,

Thanks for the question, a few people have asked on the side, but good to have it in an issue. I apologize for being so long winded but it's a complicated explanation; even I forget why I didn't implement this on occasion.

#### Summary
I thought about the ability to add custom error messages allot during the development of this package and every time have decided against it, t

[2015-09-23 01:40] joeybloggs commented on #174
P.S. I've been meaning to add an example with a default switch and default messages that users could copy, modify and add to in order to save some time. Guess I'll have to get on that a little quicker :)

[2015-09-28 18:54] mattes opened #186 "StructPartial() doesn't complain about invalid fields"
I would assume that if I pass in a bogus field name into `StructPartial` it complains about it being missing.

[code]

`err` is nil unfortunately.

[2015-09-28 20:19] joeybloggs commented on #186
Hey @mattes

I did think about returning an error, however as in your example above it wouldn't really make sense as field "Bogus" does not doesn't have any errors; I know a technicality.

I will definitely take a look and see if I can't make it panic though as it's really a configuration error rather than a validation one.

The real question is should StructExcept() panic as well?

[2015-09-28 22:31] mattes commented on #186
My concern is that if someone changes `Field` to `FieldNew` or whatever and then uses `FieldNew` later in the code, thinking it must be fine, because `validator.StructXX` did not return anything, this will lead into vulns. In a perfect world, the developer would not forget to to update `validator.Structxx` of course ...

So from my perspective it should def panic or return an error. I think a `pan

[2015-09-28 22:32] mattes commented on #186
Besides this issue, kudos for this lib! Tried several ones. This one is by far the best I've seen!

[2015-09-28 22:35] mattes commented on #186
I think so.

[2015-09-28 23:49] joeybloggs commented on #186
Thanks @mattes glad you like the lib :smile:

After a quick look I remember why I didn't add panicing in the first place; there is no guarantee validator will validate/hit all fields passed to StructPartial() or StructExcept() so keeping track if a field exists or not is a little problematic, let me explain:
[code]

That's the dilemma I'm faced with and so initially decided it was the users respon

[2015-09-29 13:15] joeybloggs commented on #186
Perhaps I can make it a configuration option whether to check that fields exist and during dev mode it can be set to true catching any issues and in production be set to off; my main concern is the overhead of the check, but this would alleviate that.

this will probably take me a while to implement, but think I can make it work.

[2015-09-29 17:07] mattes commented on #186
I think we should differentiate between syntactically errors and actual value errors. The lib should first check, if the specified fields really exist and then in a second step apply all validation rules.
SQL will also decline the operation if there is an invalid field name.

I think the syntax check should be mandatory.

[2015-09-29 18:08] joeybloggs commented on #186
@mattes I may make it mandatory, but it will probably slow down validate.StructXXX by 2 - 3 times and increase memory allocations by the same.

but I will definitely be panicing when a field doesn't exist; I will look into implementing this within the next few weeks.

[2015-09-29 19:13] mattes commented on #186
Sounds good.

[2015-09-30 02:55] ilgooz commented on #138
+1 https://github.com/ilgooz/stack

[2015-10-15 14:00] scisci opened #195 "Cross Field OR validation"
Is it possible to validate that on a given struct at least one of two options is required? I often have a struct where as long as one out of 2 of the fields are filled in, it will pass validation. One basic example would be having a username field and an email field (just a basic example though).

[2015-10-15 15:43] joeybloggs commented on #195
Currently there are no built in tags to do Cross Field OR validation. once getting into situations like you defined above, I consider them to be complex validation rules that even if built in tags could be used, it would become very hard to read.

But the library has a an easy reusable way to achieve what you want by creating a custom validation function, and then you may use and reuse it as a tag

[2015-10-16 01:32] joeybloggs commented on #195
Hey @scisci

I've updated validator to expose the baked in functions for use within custom functions, so below is a more complete example using the exposed functions.

#### Example
[code]

will this work for your needs? it should be generic enough to use within many of your structs

[2015-10-16 13:48] scisci commented on #195
awesome! yeah that totally works for me. I will look into implementing it as soon gas possible. thanks @joeybloggs I had some more complex validation as well so using a validation function makes total sense.

[2015-10-16 14:14] joeybloggs commented on #195
perfect! glad I could help @scisci

if you need any help or have any question, just let me know.

[2015-10-16 14:14] #195 closed

[2015-10-20 23:33] joeybloggs commented on #186
sorry for the delay, I fully intend to implement this, just busy with work and other projects.

[2015-10-25 17:23] #125 closed

[2015-11-05 03:14] joeybloggs commented on #186
OK so went pretty far down the rabbit hole with this one, been racking my brains on how to reconcile type interface and if a field exists.

###### Scenario
Let's say I had a field of type interface that was OK to be empty but otherwise filled with a struct, when the field was not populated I know of no way to check that the field exists because there is no type information associated with the inte

[2015-11-05 16:19] dennisfaust opened #198 "Null, nil and zero value handling"
We have a situation with tokens as strings in our system where null is valid and filled is valid but blank is not. I'm using the https://github.com/guregu/null library and null.String as the field type. I've written a custom validator and have registered a Valuer for null.String{}. This setup works to pass along zero string values and filled in strings but nils are rejected as failing my validatio

[2015-11-05 17:18] joeybloggs commented on #198
would you be able to provide a code sample that includes your Valuer function and Struct/Field your validating?

I think it may be that your have required set as a validation, but exists is what your looking for...but I can't really tell without a sample.

[2015-11-05 19:52] dennisfaust commented on #198
https://gist.github.com/dennisfaust/a91af314b1ad06567c90

[2015-11-05 21:13] joeybloggs commented on #198
Thanks @dennisfaust I will take a look later tonight after I get off work, should be able to come up with something.

[2015-11-06 00:53] joeybloggs commented on #198
#### Comments & Solution
OK @dennisfaust I must say this is definitely a unique case because the kind of null.StringFromPtr(nil) is invalid so you have a value that can be invalid, the default string value and an actual value; not many can be all three, but validator can handle it! :smile: and it's relatively simple just change your struct to the following

[code]

* omitempty handles the nil valu

[2015-11-09 14:50] joeybloggs commented on #198
Hey @dennisfaust just trying to confirm, did this worked for you?

[2015-11-09 15:38] solher opened #199 "JSON friendly errors"
Currently, the default error message is:
[code]

Could you just replace the double quotes by simple ones to be more JSON friendly and to avoid the `/"` everywhere when marshaled ?

Just:

[code]

Amazing work on the validator by the way.

[2015-11-09 17:22] joeybloggs commented on #199
Thanks,

I don't see why not @solher I'll try and get it in there sometime today.

[2015-11-09 17:36] joeybloggs commented on #199
Hey @solher , the change has been made.

[2015-11-09 17:36] #199 closed

[2015-11-09 17:37] solher commented on #199
Awesome !
I guess it wasn't a lot of work that's why I didn't pull request haha.

[2015-11-13 11:18] joeybloggs commented on #198
closing.

[2015-11-13 11:18] #198 closed

[2015-11-13 14:02] joeybloggs commented on #195
Hey @scisci thought I'd let you know about Struct Level Validations see here: https://github.com/go-playground/validator/releases/tag/v8.7

this may be an even better way to do your username or email check :smile:

[2015-11-17 00:38] dennisfaust commented on #198
From @joeybloggs:

Comments & Solution

OK @dennisfaust I must say this is definitely a unique case because the kind of null.StringFromPtr(nil) is invalid so you have a value that can be invalid, the default string value and an actual value; not many can be all three, but validator can handle it! :smile: and it's relatively simple just change your struct to the following

type testNotBlankStruct s

[2015-11-26 14:58] #186 closed

[2015-12-01 04:18] muyiwaolurin commented on #125
![validator 600x600](https://cloud.githubusercontent.com/assets/3249929/11492263/a3986a0e-97b8-11e5-8562-8aa4a56a92de.png)
![validator 300x300](https://cloud.githubusercontent.com/assets/3249929/11492264/a60b544a-97b8-11e5-8132-2df4373ac87e.png)
![validator 150x150](https://cloud.githubusercontent.com/assets/3249929/11492266/a89069b2-97b8-11e5-895d-98150b97f3a6.png)
![validator 60x60](https://clou

[2015-12-01 04:19] muyiwaolurin commented on #125
![validator 2 600x600](https://cloud.githubusercontent.com/assets/3249929/11492272/b217a176-97b8-11e5-81c0-0bec6d8f634b.png)
![validator 2 300x300](https://cloud.githubusercontent.com/assets/3249929/11492275/b47790ac-97b8-11e5-81fd-591e5a83146b.png)
![validator 2 150x150](https://cloud.githubusercontent.com/assets/3249929/11492278/b9db7df6-97b8-11e5-87ef-4a33fdb8931e.png)
![validator 2 60x60](http

[2015-12-09 17:10] xserv opened #224 "Not work go get"
go get gopkg.in/bluesuncorp/validator.v5

not work on centos, but yes on mac and ubuntu. With -v i see lock on download

[2015-12-09 23:44] joeybloggs commented on #224
What version(s) of Go are on each machine? Validator needs at least v1.3, just a guess. Could you also output the-v output?

[2015-12-10 03:55] joeybloggs commented on #224
Is there anything special about the centos box vs Mac or Ubuntu ones? I.e. same location, behind firewall's...

It does not seem to be an issue with validator, github or gopkg.in.

[2015-12-15 06:13] donileo opened #225 "getting a failed validation for a struct with a single boolean field"
So i have a struct called
[code]

[2015-12-15 11:21] joeybloggs commented on #225
Hi @donileo I've covered this in several issues https://github.com/go-playground/validator/issues/142 https://github.com/gin-gonic/gin/issues/491...

Anyways so summarise the "required" in the godocs states that it validates that the value isn't the fields default types default value, which for a bool is false and so properly fails validation. What I think your looking for is to use the "exists" t

[2015-12-15 16:49] donileo commented on #225
Thanks @joeybloggs. That clarifies some things yes. Whats the difference between the exists and required tag? Seems required implies exists....

[2015-12-15 17:04] joeybloggs commented on #225
@donileo I don't disagree if I were to redo it from scratch I may have named "required" something else like "nondefault" or something, but would be a big breaking change, maybe for v9 someday.

the difference with "exists" is that if validator finds that the field kind, after trying to find the underlying type, is still reflect.Ptr, reflect.Interface or reflect.Invalid and there are validation tag

[2015-12-16 10:53] odinliu commented on #224
I got same problem. It is ok under my macbook. But it got hanged under CentOS 6.7. My macbook and the server were under the same network.
My go version is 1.5.1. My console output is below.
[code]

[2015-12-16 14:17] joeybloggs commented on #224
@odinliu could I get a few more details, I believe it is an issue with centos itself, but I'm sure I can help in narrowing it down.

1. How was go installed? Compiled, rpm....
2. Can you go get any other packages?
3a. Can you go get validator directly with Go get gopkg.in/bluesuncorp/validator.v5 ? maybe a problem with gin and the godep programming that is being used
3b. Does go get gopkg.in/go-pl

[2015-12-16 16:22] odinliu commented on #224
@joeybloggs thx a lot
- I install go with the linux binary release. (https://storage.googleapis.com/golang/go1.5.2.linux-amd64.tar.gz)

- I can download other packages, except from golang.org. because it can not visit directly in China.

- I can't. Secondly I tried, it has been hanged.
[code]

- Just got hanged too.
[code]

- A standard kernel with CentOS 6.7
[code]

- some versions
[code]

- I ca

[2015-12-16 16:46] joeybloggs commented on #224
@odinliu I think I may have discovered the problem, I think it may be the git version 1.7.1

I read a bunch of articles like this one https://github.com/spf13/hugo/issues/297 where they were having the same sort of issue.

because I'm using gopkg.in for my versioning it does a redirect to the real git branch to get the code and go get just proxies git and git 1.7.1 is not handling to redirects pro

[2015-12-17 03:11] odinliu commented on #224
@joeybloggs thanks! It works! I updated my git from 1.7.1 to 2.6.4, and it just works.
CentOS 6 is really out of fashion, with gcc-4.4.7, kernel-2.6.x and so on.

[2015-12-17 03:18] joeybloggs commented on #224
Great! @odinliu glad in the end it's a simple fix.

I agree with centos being behind, it has it's purpose being stable and all but IMHO in todays rapidly shifting, changing and advancing software and technology that sort of mentality can get you left behind.

I'll leave this up for a bit so others with the same problem can check for the solution.

Thanks for all your help in narrowing the problem

[2015-12-18 16:43] #224 closed

[2015-12-20 03:12] scisci opened #226 "Hexadecimal empty"
If I have a an empty field with validation:hexadecimal, I get a validation error. But since the field is empty I would expect no error. I believe the regex needs to be updated from:

`hexadecimalRegexString    = "^[0-9a-fA-F]+$"`

to

`hexadecimalRegexString    = "^[0-9a-fA-F]*$"`

EDIT:
Actually, now that I look at some other regexes, there are many instances of this. So how am I supposed to form

[2015-12-20 14:53] joeybloggs commented on #226
Hey @scisci

This came up early in the design of this library and some people do want it to fail when it's blank and others not; so Yes most if not all my regexes are designed to fail when the value is blank and that is what the "omitempty" tag is for, so people can have their cake and eat it too.

So in your case that tags on your hexadecimal field should be "omitempty,hexadecimal"

Sorry for the

[2015-12-20 20:22] scisci commented on #226
no problem, i had omitempty on mjy json, but didn't know it was also a validator tag. Thanks!

[2015-12-20 20:22] #226 closed

[2015-12-26 15:17] byrnedo opened #227 "Errors map key could honour FieldTagName setting"
If `FieldTagName` is set in the `Config` option, the validation errors map's key should maybe be made up of field names from the tag specified.

Assuming I used

    ...
    FieldTagName = "json",
    ...

The following struct

    type myStruct struct {
        SubStruct struct {
            MyField string `json:"my_field"`
        } `json:"sub_struct"`,
    }

could create a map key like

    su

[2015-12-26 15:39] joeybloggs commented on #227
Thanks @byrnedo will add a boolean option to the config for this after the holidays

[2016-01-04 03:00] joeybloggs commented on #227
UPDATE: after some review will be adding another field on each FieldError for this as don't want to confuse StructPartial and StructExcept methods which use the key to determine which fields are to be included/excluded.

[2016-01-06 14:51] joeybloggs commented on #227
@byrnedo I have completed the changes please check it out and let me know if it works for you.

[2016-01-08 10:08] byrnedo commented on #227
Hi, I'll have a look soon, bit busy at the minute, thanks for doing this!

On 6 January 2016 at 15:51, Dean Karn <notifications@github.com> wrote:

[2016-01-08 10:59] joeybloggs commented on #227
np just let me know when you can

[2016-01-08 13:11] whidbey opened #230 "when will i18n support? as the error message need to local freqeuently"
thax

[2016-01-08 13:49] joeybloggs commented on #230
I think you are essentially asking the same thing as in issue https://github.com/go-playground/validator/issues/174#issuecomment-142464644

Although it is about custom messages this directly applies to i18n.

To summarize, and this is exactly how I use validator myself, after validating if there are errors I range over them and use the FieldError properties to:
* Create my own error message
* Appl

[2016-01-08 15:56] whidbey commented on #230
verygood ,and fast resposne,thank youl

[2016-01-08 17:02] joeybloggs commented on #230
No problem

On Fri, 8 Jan 2016, 10:56 a.m. whidbey <notifications@github.com> wrote:

--

Thanks,

Dean Karn

[2016-01-08 18:29] #230 closed

[2016-01-08 23:12] irregular opened #231 "Field name in custom validation function"
Is there a way to find out the name of the field being validated?

[code]
I'm relatively new to Go, so sorry if this is a dumb question.

[2016-01-08 23:25] joeybloggs commented on #231
hey @irregular,

I don't think there is the way validator works now; but maybe if you give me some more details and maybe an example of why you need it I could help you find a solution or maybe add support for that in the future if it makes sense.

[2016-01-08 23:43] irregular commented on #231
I got an arbitrary amount of structs required validation using the very same services. I thought it might be possible using reflection.

I'd like to do something like this

[code]

I got a pull request ready if that makes sense.

Thanks

[2016-01-09 00:53] joeybloggs commented on #231
Ok so just so I understand fully your looking to ensure that no struct has a field name exactly like the other?

[2016-01-09 01:03] joeybloggs commented on #231
Sorry just trying to fully wrap my head around the what and why. Is there a particular reason for this requirement? Maybe just need a few more details. Before making a breaking change I like to have the big picture.

[2016-01-09 01:56] irregular commented on #231
I'm trying to use this along with [gorm](https://github.com/jinzhu/gorm) as a way to prevent hitting the database for validation. In this case, I can't prevent such thing but I would like to keep validation in the same place. I don't want to let the DB handle validation, I need more control as I may need to store data somewhere else in the future(think a micro-service architecture)
Make sense?

[2016-01-09 02:12] joeybloggs commented on #231
I understand now, I do a similar thing to ensure that a users email is unique in the database prior to saving.

Although a little more work instead of using a custom field validation, and the way I also do it,  I recommend using a struct level validation like in the examples here https://github.com/go-playground/validator/blob/v8/examples/struct-level/struct_level.go

The reason I do it that way i

[2016-01-11 17:22] irregular commented on #231
I think that would work for now.
Please consider adding field name as a parameter for the custom validator for future versions as it would help to do more complex and reusable functions

Thanks

[2016-01-11 17:22] #231 closed

[2016-01-11 19:05] joeybloggs commented on #231
I don't disagree @irregular just as soon as I make that sort of change someone else will ask for the Custom field name I.e. json name.... And probably more params and I'm just worried that the Custom validator function will start to contain too many parameters..

I have been looking into passing a single object with all the params including field name just trying to work out how to keep allocation

[2016-01-18 13:29] joeybloggs commented on #227
any word @byrnedo ?

[2016-01-18 13:33] byrnedo commented on #227
Will take a look today, sorry for the delay

On 18 January 2016 at 14:29, Dean Karn <notifications@github.com> wrote:

[2016-01-18 14:30] byrnedo commented on #227
Looks good Dean, that works for me!

On 18 January 2016 at 14:33, Donal Byrne <byrnedo@tcd.ie> wrote:

[2016-01-18 18:17] joeybloggs commented on #227
Perfect

[2016-01-18 18:17] #227 closed

[2016-02-19 12:17] moogle19 opened #236 "Make email validator conform to formats defined in RFC3696"
The current email validator works for all normal emails I tested, but the [RFC3696](https://tools.ietf.org/html/rfc3696#page-6) lists some exotic, but allow email addresses (like: *"Abc@def"@example.com* or *Abc\@def@example.com*).
The question is, should the validator work with such email addresses?

[2016-02-19 14:13] joeybloggs commented on #236
#### Docs
I specified right in the docs here https://godoc.org/gopkg.in/go-playground/validator.v8 about this very subject.

#### Summary
email
"This validates that a string value contains a valid email **This may not conform to all possibilities of any rfc standard, but neither does any email provider accept all possibilities.**"

The key being no email provider that I know of accepts all possibi

[2016-02-23 18:01] kbalonek opened #237 "Failing test on master"
Running in a Docker container from the official golang:1.6 image, I see 2 failing tests:

[code]

[2016-02-23 18:09] joeybloggs commented on #237
Thanks I will look into this right away

[2016-02-23 19:22] joeybloggs commented on #237
Tracked it down to this change in Go [617c93c](https://github.com/golang/go/commit/617c93ce740c3c3cc28cdd1a0d712be183d0b328#diff-6c2d018290e298803c0c9419d8739885L195)

code now get's into the **if** and reports an invalid character. The URL however is valid, just not according to [ParseRequestURI](https://golang.org/pkg/net/url/#ParseRequestURI) which assumes the request was sent via the browser a

[2016-02-23 20:33] joeybloggs commented on #237
correction completed in release [v8.17.1](https://github.com/go-playground/validator/releases/tag/v8.17.1)

thanks for reporting @kbalonek

[2016-02-23 20:33] #237 closed

[2016-05-06 12:16] byrnedo opened #239 "Characters in any language"
Just wondering whether you'd consider adding a built in for charcters from any language.

Like:
[code]
or for a name in any langage:
[code]
Edit:
Does `ascii` or `printascii` maybe achieve this too?

[2016-05-06 13:09] joeybloggs commented on #239
Hello @byrnedo

absolutely I'd be interested, I could just update the "alphanum" regex found [here](https://github.com/go-playground/validator/blob/v8/regexes.go#L6) I don't know that Go's regex handles \p and {L} as I think they are PERL (PCRE) only, so I'd have to look into it. Any help you could provide is welcome 😄  I've gotten a bunch of requests lately for other projects, it may take me a li

[2016-05-06 13:14] byrnedo commented on #239
Hi @joeybloggs!

The `\p{L}` thing seems to work, I added it to a simple wrapper I have for your library here: https://github.com/byrnedo/svccommon/blob/master/validate/validate.go

The (extremely) simple tests seem to pass (https://github.com/byrnedo/svccommon/blob/master/validate/validate_test.go)

I agree with the name one, it's more up to each user to decide about.

I could add it at some poin

[2016-05-06 13:31] joeybloggs commented on #239
that is true that most would expect it to be [a-zA-Z0-9], however that is ascii only, I can't see any harm in allowing unicode, because if anyone needed a field to specifically contain ascii only they should also already be using the builtin ascii validator as well.

yes if you could fork and make a pull request, that would be extremely helpful. 👍  might be a good idea to update both of there rege

[2016-05-20 05:26] parveenkumar2308 opened #240 "Override existing validator"
Hi @joeybloggs ,
I really liked the validator. great work!
One thing which i don't know whether exist or not that can we override existing validation for any type.
for example: for "Required" tag i want that if user doesn't enter anything then it should fail + when user enters white character then also it should fail for my requirements. can i override the required tag validation so that it will d

[2016-05-20 12:05] joeybloggs commented on #240
Thanks @parveenkumar2308

Yes you can override required and email, in fact can override any that is not part of [this](http://github.com/go-playground/validator/blob/v8/util.go#L22) map by Registering a new validation see [here](https://github.com/go-playground/validator/blob/v8/validator.go#L270)

It's totally up to you, but since you need to register a new validation to override the old one anyw

[2016-05-23 03:27] parveenkumar2308 commented on #240
Thanks Dean Karn.

I have gone through links in your reply. What i have gotten from that is i
need to write a new function like RegisterValidation which makes an entry
in validater map. so, in my case it would be
RequiredWithEmptyCheckValidation and UEmailValidation like you mentioned
that doing it this way i can have both flavours.But, i still didn't get
that where i need to make change in my cod

[2016-05-23 17:12] joeybloggs commented on #240
it doesn't really matter where the util file is defined, just need to register the functions.

there are 3 ways you can accomplish what you want with the required, I recommend option 2 or 3 but you may use any you wish.

#### OPTION 1
[code]

#### OPTION 2
no need for a custom validation for required, use 'excludesall= '
[code]

#### OPTION 3
register alias for required + excludesall to avoid some

[2016-05-24 03:35] parveenkumar2308 commented on #240
@joeybloggs i will try the three methods. though i have 1 query with option 2 and 3.
If in the Name field of Person struct, i want to validate for "srequired" tag then , does it allow Parveen Kumar value. because i just want to validate for empty string(if strToCheck == "" || len(strToCheck) == 0 || len(strings.TrimSpace(strToCheck)) == 0 {
		return false
	}).

not for each white space.

[2016-05-24 03:51] joeybloggs commented on #240
Oh I misunderstood, options 2 & 3 are for any whitespace you are correct.

then option1 would be your best bet with your code changes :)

[2016-05-28 03:07] parveenkumar2308 commented on #240
Hi Dean,

Thanks a lot. It worked like a charm.

Regards,
Parveen Kumar

On Tue, May 24, 2016 at 9:21 AM, Dean Karn <notifications@github.com> wrote:

--

Warm Regards,
Parveen Kumar
+91-9890333270

[2016-05-28 03:10] joeybloggs commented on #240
No problem, glad it worked for you :)

[2016-05-28 03:11] #240 closed

[2016-06-06 21:15] himanishk opened #241 "Struct Level Validation combined with Baked In validation for same field"
Hi,

The library works great for most of my validations, thought will reach out to you for one of the complicated validation.

Is it possible to use Baked In validation for a field that is also being used for Struct level validation. I defined the validation `validate:required` on a struct field , later when I defined a struct level validation for the same field the framework seems to be ignoring

[2016-06-06 23:14] joeybloggs commented on #241
Hey @himanishk

Absolutely you should be able to combine baked in validation and Struct Level validation, could you provide a code sample of how you are trying to do it and I'll take a look ASAP

[2016-06-07 14:44] himanishk commented on #241
Hi @joeybloggs ,

Thanks for your prompt reply.I think that is in-line with the behaviour I had seen. Here is my code sample

[code]

My expectation was when The `Start_Date` field is not provided, the `validate:"required"` will kick in before  invoking the `TestFormStructLevelValidation` and stop any further validation. Currently it invokes `TestFormStructLevelValidation` and results in a `nil` p

[2016-06-07 15:28] joeybloggs commented on #241
Hey @himanishk Thanks for the example.

Yes if Struct Level validation is present it will run regardless of an error on a single field, otherwise may miss out on reporting a different error on a different field. ( validator returns all errors for a struct, but only the first error encountered in each field. )

There are so many different ways to handle this, but in your situation I would recommend

[2016-06-07 17:28] himanishk commented on #241
Hi @joeybloggs

That works perfectly. Thank you so much.

[2016-06-21 18:57] phenrigomes opened #242 "Can I have one choice list validation?"
Example: validate([]string{"A", "B", "C"}, value)

[2016-06-21 19:20] joeybloggs commented on #242
I'm not quite sure what you mean, do you mean ability to validate `[]string` on it's own and not part of a struct?

or

validate a single element within a `[]string` but not the others?

there is the ability to validate any field individually using [validate.Field](https://github.com/go-playground/validator/blob/v8/validator.go#L332) example shown [here](https://github.com/go-playground/validator/

[2016-06-21 20:11] phenrigomes commented on #242
I have a gender field with values: "M" | "F" | "O". I need an way to validate choice values as: validate(FieldValue, <Choices - []interface{}>) - Choices allowed are: "M" | "F" | "O", but they could be "MA" | "FE" | "OT"...

[2016-06-21 20:25] joeybloggs commented on #242
Oh OK, yes totally doable with `or's` in the tag

eg.
[code]

`dive` - tells the library to go into/dive into the array
`eq=M|eq=F|eq=O` - says any value in the array must be equal to M or F or O

if using on a single field and not an array, just remove the dive tag.

does this example explain what your looking for?

[2016-06-23 02:15] kujenga opened #244 "Unexpected behavior with pointers"
Using v8 the following program prints out an error. I solved the issue by using the `omitempty` tag in conjunction with `max`, but I'm still confused as to why this was necessary. Is this a bug? I couldn't find much information in the docs about the treatment of pointers.

[code]
output:
[code]

[2016-06-23 02:35] joeybloggs commented on #244
Although maybe a bit confusing, this is the expected behaviour.

validator sees that there are validations that it is supposed to check, but has not been told it is ok to be nil and therefore fails on the `max` tag as it cannot be checked.

adding `omitempty` is the correct action if it is ok to be nil, otherwise because it's a pointer can use `exists` tag to ensure a value exists.

Side note: I k

[2016-06-23 03:12] joeybloggs commented on #242
Hey @phenrigomes just checking if my example was what you were looking for?

[2016-06-23 13:39] kujenga commented on #244
Gotcha, I was worried it might be looking at the actual value of the pointer or something of that nature, your explanation is much more sane. Thanks!

So is it true that if a pointer is non-nil then it is treated in the same way as a literal value of that type?

[2016-06-23 13:43] joeybloggs commented on #244
Awesome :)

yes if a pointer is non nil, validator will extract the actual literal value and then validate agains't that. You can see how in the [ExtractType function](https://github.com/go-playground/validator/blob/v8/util.go#L38) which is called before checking any values.

[2016-06-23 19:01] kujenga commented on #244
Perfect, that clears it up for me. Thanks so much!

[2016-06-23 19:01] #244 closed

[2016-06-24 00:39] #236 closed

[2016-06-24 00:40] #138 closed

[2016-06-24 21:30] robbrockbank opened #245 "Is it possible to perform struct level validation in the same way as field level validation?"
So, rather than registering a type of struct that needs to be validated using a particular function, is it possible to put a tag on a struct field (that is itself a struct or ptr to a struct) and call the defined validation method on that struct?

I don't think so from code reading, but just wanted to check incase I'd missed something.

Useful if you have multiple inner structs of the same struct

[2016-06-24 23:35] joeybloggs commented on #245
Currently no there is no way to do this, the current design would be to register a validation for the `thing` Struct and validate `field1` and `field2` from within.

But you have peaked my interest about possibly adding this type of functionality and so looking to clarify the idea a bit more.

So `checkFooStructIsBlue` would be a method on the `FooStruct` like so?

'''go

function (f FooStruct) ch

[2016-06-26 22:21] robbrockbank commented on #245
@joeybloggs   So I hadn't considered adding methods to the structs themselves rather that it would be akin to user-defined field validation where you register a validator and specify that as the validator for that field - exactly as other fields, but allowing the field to actually be a sub-structure such as field1 or field2in my example above.

The exact use-case I have for this is I some fields a

[2016-06-26 22:42] joeybloggs commented on #245
Thanks for the details @robbrockbank , yes I am definitly interested in adding this sort functionality, I will have to think about what all to pass to the function.

Second part is should the function just return true or false for validation or allow for many fields to be validated like the Struct level validation...any input would be appreciated :)

P.S. It may take me a while as I am creating, u

[2016-06-26 23:58] robbrockbank commented on #245
Thanks @joeybloggs.

For my use case I'm validating the sub-structure as if it were a single field so the details of which sub-field is at fault is not important.  I think that means it can be handled in the same way as a field validator in that it just returns true or false.

[2016-06-27 00:43] joeybloggs commented on #245
Awesome thanks!

[2016-06-29 07:05] wenchma opened #246 "How to validate the nested struct fields if this struct is not empty"
like the struct below, I want to validate: if User.Address is not empty, then validate the nested struct fileds (City and Street), if User.Address is empty, omit.
Any idea? or is this supported ?

[code]

[2016-06-29 07:06] wenchma commented on #246
@joeybloggs any comment is appreciated.

[2016-06-29 08:12] joeybloggs commented on #246
Hello @wenchma

there are a few options, first off just need to point out that because Go is statically typed, the way Address is defined within the User struct it will never be empty.

Option 1:
change address definition in user to `Address *Address` and then can add the `omitempty` tag.

Option 2
change address definition to allow for multiple addresses `Address []Address's and when no items exi

[2016-06-29 09:37] wenchma commented on #246
@joeybloggs Awesome, :+1:  your options are very helpful for me, I think them will work, let me try.
Much thanks!

[2016-07-06 17:10] gebv opened #247 "Please advice. Field validation"
How to check separate field if it not in the given type

[code]

I want that string numbers were perceived as number. Any idea how that's do this?

[2016-07-06 18:47] joeybloggs commented on #247
The only reliable way would be to convert it to the correct type and then validate,

there are a couple of options.

1. Convert it prior to checking, I am assuming number is an int:
[code]

2. Create a Custom Validation which converts it in the background for you and then uses the normal validation.

NOTE: didn't test the code but it should work
[code]

Please let me know if this helps :)

[2016-07-07 04:39] gebv commented on #247
An excellent idea a create custom validation. It is an elegant solution. Thanks @joeybloggs

[2016-07-07 05:09] #247 closed

[2016-07-13 01:05] joeybloggs commented on #245
Hey @robbrockbank

just letting you know that I started looking into this, I could probably use the existing validation signature and ability to register custom funcs; the only thing I'm having trouble with is trying to figure out how to implement it without a bunch of rules that people would have to follow and remember.

eg. all validations need to be after struct specific tags such as `structonl

[2016-07-14 19:08] robbrockbank opened #249 "Should omitempty check for Zero value when the field is a pointer?"
Hi - just wanted to get your take on the following behavior.

If a structure contains a pointer to (for example) an integer - it looks like the omitempty directive looks at both the pointer value (whether it is nil) and whether the pointed-to value is Zeroed.  I would *personally* have expected for a pointer that omitempty would just refer to whether the pointer was nil.

For example, suppose you

[2016-07-14 19:13] joeybloggs commented on #249
I will take a look at this asap

[2016-07-14 20:15] joeybloggs commented on #249
Hey @robbrockbank

ok I know why this is happening this way, let me explain:

here is from the docs:

### Omit Empty
Allows conditional validation, for example if a field is not set with a value (Determined by the "required" validator) then other validation such as min or max won't run, but if a value is set validation will run.
[code]

so the key there is `determined by the "required" validator`

[2016-07-14 20:56] joeybloggs commented on #249
Hey @robbrockbank this should be fixed now via release v8.17.3

please update and let me know if this is fixed for you and we can get this issue closed! 😄

[2016-07-14 21:46] robbrockbank commented on #249
Hi @joeybloggs!  Wow, that was a fast turnaround, thank you!  Yes I've confirmed with my example above that solves that problem.  Please feel free to close :-)

[probably not the right place to ask, but ... ] What's the timeline for updates to get into gopkg.in ?  I can pull from github, but all my imports in my code are pointing to gopkg.in ... of course perhaps the two are interchangeable in som

[2016-07-14 22:10] joeybloggs commented on #249
No problem @robbrockbank I not only maintain but actively use validator in a bunch of enterprise applications, so if there's a bug I try to squash it immediately for everyone, including myself ;)

ok gopkg.in, I'll try to answer as best I can.

So first off ''`go ge`" when hitting a gopkg.in URL is sent back what is essentially equivalent to , but not the same, as a redirect to an actual brach of

[2016-07-14 22:10] #249 closed

[2016-07-15 19:32] robbrockbank commented on #245
Hi @joeybloggs

Funny - in the interest of opensourcedness, I was looking at this myself yesterday - and had an approximation working where I'd updated traverseField to just drop through after doing the traverseStruct  so it would effectively call the per-field registered validator on the nested struct field.

I got a little unstuck though after running the UTs and realizing it was a little more c

[2016-07-17 01:40] joeybloggs commented on #245
Hey @robbrockbank

I agree there are a few things that can be done to make it work, that was never in doubt, however all idea's that I can come up with would make it a little more confusing to use; I could eliminate the confusion and make it easy, but it would require some breaking changes.

So I think that, If you can live with Struct Level Validation for now, I will add this to the list of featu

[2016-07-20 19:56] joeybloggs opened #250 "v9 - What would YOU like to see?"
Hello All! and Thanks in Advance!

UPDATE: [v9.0.0 RC1](https://github.com/go-playground/validator/releases/tag/v9.0.0RC1) is out, please let me know what you think

I will soon be rewriting validator v9, from scratch, and am looking for any ideas or suggestions from you the community for anything you would like to see in the new version. I cannot guarantee all will be included, but can't add it i

[2016-07-21 08:54] alioygur commented on #250
first of all, I think you should change list of changes to numeric list :) so I we can talk better

[2016-07-21 08:58] alioygur commented on #250
Allow Structs to be validated, just like fields, see #245
I do not agree with this.

Change required to nondefault or have both tags present? required makes more sense when reporting errors, but nondefault is clearer for those using the library. Thoughts?
I do not agree with this.

There is awesome library that written with PHP.
https://laravel.com/docs/5.2/validation

I think go-playground/valida

[2016-07-21 09:00] alioygur commented on #250
And, Please don't remove the "dive" tag!

[2016-07-21 12:17] joeybloggs commented on #250
thanks @alioygur for your feedback! 😄  and don't worry the `dive` tag is staying!

as for # 4 - I think you may be right

I was hoping you could expand on 2 of your answers:
[code]
So you are saying just stick with `required`?

When you say `it is small`, do you mean the number of validations? if so if you could provide a list of ones you would like to see I could work towards adding them.

[2016-07-21 12:39] alioygur commented on #250
Yes. about number of validations.

So I provide a package. https://laravel.com/docs/5.2/validation this package has a lot validations.

[2016-08-05 03:40] parveenkumar2308 opened #251 "Override existing validator - Adding regex for password validation"
Hi @joeybloggs

I want to add a custom validation where i want to ass regex for password field. where it can contain alphanum + certain special character.

I tried below two approaches:

1) based on overriding validation https://github.com/go-playground/validator/issues/240
in model.go

type Person struct{
     Id string `json:"id" validate:"required,min=36,max=36"`
     Password string `json:"id"

[2016-08-05 11:50] joeybloggs commented on #251
Hey @parveenkumar2308

I can't see where the `regex` validation is being registered, it may be that it's the undefined validation ( I will add a better error message with the tag in question within the error message ).

There also seems to be an  issue with your regex, Go does not support negative lookahead's:
[code]

It also looks like you're running an older version of validator, I've made a few

[2016-08-06 05:53] parveenkumar2308 commented on #251
@joeybloggs <https://github.com/joeybloggs>
Thanks for regex string. yes it is not working in Golang. i have updated it
according to my need.

The way you suggested is normal Golang way to validate password and then
add the func to validator list. i was thinking to check for regexp
solution.

Can't it work with either one (updated regexp pattern):

1) type Person struct{
            Id string json

[2016-08-07 01:58] joeybloggs commented on #251
Hey @parveenkumar2308 , sorry for the lateness of my reply, busy day,

yes it could work for either one, but there are several reasons I would not.

1.  you'd have to change all `,` within the regexes to `0x2C` and all `|` to `0x7C` a mentioned in the documentation [here](https://godoc.org/gopkg.in/go-playground/validator.v8) which makes reading your regex harder.

2. putting regexes in tags quick

[2016-08-07 04:13] parveenkumar2308 commented on #251
@https://github.com/joeybloggs

Thanks for the responses and clarifications. I do agree with you on the
same.

On Sun, Aug 7, 2016 at 7:28 AM, Dean Karn <notifications@github.com> wrote:

--

Warm Regards,
Parveen Kumar
+91-9890333270

[2016-08-08 14:27] joeybloggs commented on #250
Hey @alioygur just released [v9.0.0 RC1](https://github.com/go-playground/validator/releases/tag/v9.0.0RC1) and would love your feedback if you can find time :)

[2016-08-25 15:32] MarcoVigna17 opened #253 "Is it possible to have a required cross-field validation?"
Hi @joeybloggs, I'm using your package to perform some validation on data that I'm receiving via API.

I'd like to know if there is the possibility (and I missed it) to perform a required cross-field validation.

What I want to achieve is having a validation that returns OK if one of two fields is present on my struct...something like this:

[code]

and the validator returns an error if no one of

[2016-08-25 15:43] joeybloggs commented on #253
Hello @MarcoVigna17

Yes it is possible, but there is no built in tag for it.

You have two options:

1. Create a custom validation for your specific struct and then add that new tag to your struct field(s)

2.  This level of complexity however is best suited for `StructLevel` validation I would just register a Struct level validation and use `ReportError` when there is an issue. Struct level and

[2016-08-25 15:57] MarcoVigna17 commented on #253
First of all, thanks for the immediate response!

I was starting to develop the first proposed solution, but after your answer, I agree that the second one is probably the best solution. I don't need this kind of validation on other struct, just on the one that I'm developing right now, so probably it's easier and safer!

I'm using v8 cause was just on my package, I just noticed that you released

[2016-08-25 16:08] joeybloggs commented on #253
Ok awesome, let me know how it goes.

I know v9 says it's RC1 but I don't foresee any changes and will be flipping it to stable in a few weeks ( just want to add an extension to allow for translating errors using my universal-translator package, but will probably be located in another repo )

[2016-08-26 08:51] MarcoVigna17 commented on #253
I did and it's working, thanks for your help!

Just one question, cause I had to implement a workaround on a sub struct inside my main one, on which I created  the custom validator.

Let me show you some code that it's easier...

Those are my structs:
[code]

and this is was my custom validator:
[code]

The expected behaviour to me was that the inner struct was validated on the calling of `errs :=

[2016-08-26 15:13] joeybloggs commented on #253
Hey @MarcoVigna17

ya the reason it doesn't is because it's within an array, the dive tag is exactly what you're looking for, you can actually validate against array and then dive down into it like so:

[code]

and that will validate that the array exists, there is at least one entry in the array and then to div into it...

sorry for the short answer, bust day today, let me know if this works for

[2016-08-30 08:59] MarcoVigna17 commented on #253
Perfect, I used the `dive` tag and now I can rid of that check from StructValidation custom function.

I noticed a problem then (I will open a proper new issue when I have a little bit of free time, but I want to post it now so we can start discuss)

With this validation on different fields, the order of the errors returned when I call my `validation.Struct(structToValidate)` function is never the

[2016-08-30 11:15] joeybloggs commented on #253
Hey @MarcoVigna17

Glad it's working for you :)

As for the order, it's because the error returned is really of type `ValidationErrors` which is a `map[string]*FieldError` and maps in go are not ordered like in some other languages; in fact when iterating over them they are purposely randomised (there is a good reason why, but that's another discussion)

This is one of the things that v9 inherentl

[2016-08-30 11:44] MarcoVigna17 commented on #253
Ok I will try to update to v9 and I will say you if it fixes the problem all the time, cheers ;)

[2016-08-30 21:24] MarcoVigna17 commented on #253
I converted to use v9, I thought was painless, but apparently you improved the code everywhere 😄

I figure out how to make my code working (and now every test is passing, which is great!), and I like how the code to register a custom struct validator become easier. I just have a doubt on the  new `ReportError` structure:
[code]

What this param represents? How stable is this version? Can I use it

[2016-08-30 22:36] joeybloggs commented on #253
that's great @MarcoVigna17

The param represents the comparison value I.e. if you had a struct tag defined like so `gt=1` then `1` would represent the param, in string form. I had forgotten to accept the param in v8.

You may be asking why it's important, well the errors returned are actually `FieldError` and all aspects of a validation error are accessible, including the param; the reason all asp

[2016-09-01 12:27] #251 closed

[2016-09-01 12:27] #246 closed

[2016-09-01 12:27] #242 closed

[2016-09-01 12:28] #225 closed

[2016-09-01 12:30] joeybloggs commented on #245
Hey @robbrockbank after allot of tinkering and feedback from other users I will probably not be implementing this feature; it's just too much of a one off that really affects performance and ease of use.

[2016-09-01 12:30] #245 closed

[2016-09-01 12:33] joeybloggs commented on #239
Hey @byrnedo if you are still interested in this, I would definitely accept a pull request; but am closing for now.

[2016-09-01 12:33] #239 closed

[2016-09-01 13:05] joeybloggs commented on #250
[v9](https://github.com/go-playground/validator/releases/tag/v9.0.0) has been released!

[2016-09-01 13:05] #250 closed

[2016-09-01 13:08] joeybloggs commented on #253
Hey @MarcoVigna17 as promised [v9](https://github.com/go-playground/validator/releases/tag/v9.0.0) has been released!

[2016-09-02 10:43] MarcoVigna17 commented on #253
Awesome, cheers for all of your support! 😉

[2016-09-02 12:23] joeybloggs commented on #253
Thanks!

[2016-09-02 12:23] #253 closed

[2016-09-08 11:07] adrian-sgn opened #254 "Dive into and validate map keys?"
### Package version eg. v8, v9:

v9
### Issue, Question or Enhancement:

Question
### Code sample, to showcase or reproduce:

[code]

Hello, I am very new to the validator so I apologize if I've misinterpreted the use of dive and maps!  I'm also aware the above can be accomplished with Label as a struct, but I'm wondering if validator supports validating map keys using custom validations.

Is ther

[2016-09-08 11:37] joeybloggs commented on #254
Hey @adrian-sgn , thanks for the question

The dive tag is really used to dive into the values of a map or array not the keys. Usually the maps key type protects it from bad input.

I think the way you have done it is correct all you have to do is cast the field as `Label` instead of `String()` and iterate over all keys.

apologies for the short example, answering from my phone
[code]

[2016-09-08 16:15] adrian-sgn commented on #254
Hey @joeybloggs thanks for the lightning fast response! :zap:

I appreciate your suggestion with ``ValidLangCode`` to support looping through the map keys

My only issue with it is that the error message back probably won't say which key(s) are failing validation

[2016-09-08 16:17] joeybloggs commented on #254
You are correct @adrian-sgn the key won't be returned,

the only way you could do that is using `StructLevel` validation, but may not be whay you want.

[2016-09-08 23:36] adrian-sgn commented on #254
@joeybloggs I rewrote the eample using ``StructLevel`` validation -- seems to work! thanks!

[code]

$.02 - perhaps a tag like ``dive`` but rather ``keys`` (or ``mapkeys``) could be introduced later on, eg. ``keys,lang_code,dive,required``

[2016-09-08 23:40] joeybloggs commented on #254
Not a bad idea, I was thinking of how to do it and a `keys` tag would definitly work.

I will look at adding this in the weeks to come :)

[2016-09-09 20:26] joeybloggs commented on #254
Hey @adrian-sgn I took a preliminary stab at this and is currently under the `validate-map-keys` branch if you wanted to check it out and let me know if it works for you; I did build your example directly into the test [here](https://github.com/go-playground/validator/blob/validate-map-keys/validator_test.go#L6540) so you can take a look and reverse engineer.

#### How it works
- add two new tags

[2016-09-10 07:32] adrian-sgn commented on #254
hi @joeybloggs - amazing work, I can't believe you turned that around so fast!

After studying a little more the code, I understand why you introduced `endkeys`. The examples you presented are pretty clear, and definitely show how to dive into map keys now. Nice work!

Drifting a little outside the original Issue, what seems to be missing now for map validation is the ability to validate ``key, va

[2016-09-10 11:20] joeybloggs commented on #254
Hey @adrian-sgn not a bad idea, but this library is designed for tags to only apply to a single value instead of a type and that's why once you get into a certain level of complexity, it's usually better to use struct level validation, however you did give me a couple ideas I'll have to think about.

1. Instead of/complimentary to struct level validation have a custom type validation where you reg

[2016-09-19 20:28] jawher opened #255 "Support wildcards in partial struct validation"
### Package version eg. v8, v9:

v9
### Issue, Question or Enhancement:

`validate.StructPartial` is a very useful feature to restrict the validation to a struct field for example.
It is however limited by the fact that one have to list the names of all the child fields, e.g. the code example below:
### Code sample, to showcase or reproduce:

In the following example, a call to `validate.Struct` w

[2016-09-19 21:38] joeybloggs commented on #255
Hey @jawher I'll have to think about this I just find being Implicit rather than explicit very dangerous.

eg. Developer 1 creates struct and add partial validation
[code]

Then some other developer comes along and adds another field, without knowing there is partial validation going on,
[code]

and now the `Sex` field is being validated, but do you want it to be? Is it going to cause problems?

I

[2016-09-21 12:04] jawher commented on #255
@joeybloggs Thanks for the detailed and prompt reply !

I agree that wildcards will come with their fair share of *unpredictability* and possible surprises.

Regarding the future on-steroids `fieldLevel` validators, I must be missing something but I'm not sure I see how they  can help with the issue at hand, i.e. partial validation filtering.

I thought about this issue some more and I think I hav

[2016-09-21 12:25] joeybloggs commented on #255
Hey @jawher

thanks for the reply, I like it! it is a great idea! 👍

I would definitely like to add that functionality, the only change I'd make is passing the path via a `[]byte` otherwise there would be an allocation for every field to create the string to be passed as the field namespace is a `[]byte` and is would pass the Struct namespace and not the other that could be different by tag.

[cod

[2016-09-22 23:10] #174 closed

[2016-09-25 17:57] joeybloggs commented on #255
Hey @jawher

I added this functionality in [Release 9.2.0](https://github.com/go-playground/validator/releases/tag/v9.2.0) please take a look and let me know if this solves it for you.

[2016-09-26 11:42] jawher commented on #255
@joeybloggs Nice ! You beat me to it, I was planning to create a PR for this 👍

I'll ping back once I get a working implementation for the wildcard filtering.

[2016-09-28 13:16] codepushr commented on #142
Is this still supported in v9 ? I need the same behaviour for HTTP PATCH where I have to distinguish between ommited and set values - therefore the bool pointer. I'm getting the error that `exists` does not exist as a validator.

[2016-09-28 13:29] codepushr commented on #250
Hm, the `required` tag does not work the same way as `exists` did with pointers! See https://github.com/go-playground/validator/issues/142#issuecomment-250163238

E.g. using a `false` for a bool pointer results in a failed validation. Now using v8 where `exists` worked exactly as intended.

[2016-09-28 13:41] joeybloggs commented on #142
Hey @codepushr I dropped `exists` in favour of just using `required` and added some nullable checks so `required` should work just like `exists` did in this scenario.

if not then it could be a bug, could you provide some sample code and I'll check it out ASAP

[2016-09-28 14:32] codepushr commented on #142
Sure! This should demonstrate what I mean. Basically the validation fails although I'm using a pointer to a bool with `false` as the value. What I'm expecting is that if I use a pointer the validation only checks if it's not nil - but in this case it also checks the underlying value - which MAY work as expected but is different from `exists` in v8.

[code]

[2016-09-28 14:52] joeybloggs commented on #142
Hey @codepushr thanks for the code,

I already replicated the issue, just running last minute tests and fix will be out in a few minutes so `required` will now work as expected.

will tag you and this issue when making the final release.

P.S. thanks for reporting.

[2016-09-28 15:05] joeybloggs commented on #142
ok @codepushr [release 9.2.0](https://github.com/go-playground/validator/releases/tag/v9.2.1) should fix this for you.

Please let me know if it works for you 😃

NOTE: the reason I removed `exists` is that required implies exists and had a number of people mention that it was confusing and so now `required` handles both, with one tag.

[2016-09-28 15:23] codepushr commented on #142
Looking good! Thanks for the amazingly quick response! :)

[2016-09-30 00:36] laeshiny commented on #224
In my case, it doesn't work though I have upgraded git (2.10.0) and go(1.7.1).
OS is CentOS 6.3

It is still hanged like below.

Fetching https://gopkg.in/go-playground/validator.v8?go-get=1
Parsing meta tags from https://gopkg.in/go-playground/validator.v8?go-get=1 (status code 200)
get "gopkg.in/go-playground/validator.v8": found meta tag main.metaImport{Prefix:"gopkg.in/go-playground/validator.

[2016-09-30 00:59] joeybloggs commented on #224
Hello @laeshiny

I'm definitely willing to help, this must be an external issue though.

1. Can you confirm that the git version in your current terminal session is using git 2.10.0 using `git --version` maybe it's using another found earlier within the $PATH

2. Confirm go version using command `go version`

3. If both 1 and 2 are ok can you do a regular `git clone` of the repo?

4. Other thought

[2016-09-30 05:57] laeshiny commented on #224
Answer is like below

1. Can you confirm that the git version in your current terminal session is using git 2.10.0 using git --version maybe it's using another found earlier within the $PATH
2. Confirm go version using command go version
$ go version
go version go1.7.1 linux/amd64
$ git version
git version 2.10.0

3. If both 1 and 2 are ok can you do a regular git clone of the repo?
$ git clone ht

[2016-09-30 10:37] joeybloggs commented on #224
Did you try and git clone the gopkg.in address? I suspect t it will fail also which means git isn't following the redirects, which is strange considering that's been working since git > 1.7 see https://github.com/spf13/hugo/issues/297

If it works on CentOS 7 it must be a CentOS 6.3 issue, maybe a firewall, security or git config setting.

I don't know how much further I can help, it doesn't seem

[2016-10-01 02:57] laeshiny commented on #224
In CentOS 7, git cloning the gopkg.in doesn't works also in CentOS7.
As you mentioned, It may be a issue of GitHub or gopkg.in.

Thanks for your kind reply. :)

[2016-10-20 16:23] YamiOdymel opened #257 "Add validation for `year`, `month` and `day` (also care about the leap year)?"
### Package version eg. v8, v9:

v9
### Issue, Question or Enhancement:

I read the documentation and used `ctrl+f` to search the functions about date but couldn't find anything like this.

What I'm trying to do is to **validate the birthday of the user**, which means **the year of the birthdate must be lesser or equals the current year**, and **the days must be matched with it's month**, there's

[2016-10-20 18:27] joeybloggs commented on #257
Hey @YamiOdymel

that seems like a good and very common validation to have, if you could provide some sample code of how you are doing it manually I would definitely add it as one of the baked in validations :)

[2016-10-20 18:28] joeybloggs commented on #255
Hey @jawher just checking in to see if you'd had a chance to check this out yet :)

[2016-10-21 07:32] jawher commented on #255
Wow, it's been 25 days already !

I started working on it a while ago, but I'm afraid I overdone it a bit and ended up with something a touch too complex :D

I'll try to get back to it the next weeks.

[2016-10-30 20:29] YamiOdymel commented on #257
Sorry that I'm writing the front-end and the API documentation recently, I'll post the code once I back to develop the backend.

[2016-10-30 21:42] joeybloggs commented on #257
Thanks @YamiOdymel

No problem, I am busy also or would take a stab at it myself

[2016-10-31 10:35] dkostenko opened #258 "Get json tag value"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
Hello!
My situation: I have pointer to struct with type interface{} and I validate it with the help of validator (v9). Validation works perfectly! But after getting array of validation errors (ValidationErrors) I'd like to get json tag value, not actual field name. For example:
I have such struct:
type Qwe struct {
  Name stri

[2016-10-31 11:03] dkostenko commented on #258
I got it

[code]

Sorry for disturbing

[2016-10-31 11:03] #258 closed

[2016-10-31 11:18] joeybloggs commented on #258
Hey @dkostenko no problem, but there is actually a better way built in to get any tag name, even JSON
you just have to register your own [TagNameFunc](https://github.com/go-playground/validator/blob/v9/validator_instance.go#L114) and then essentially do the same thing you did to grab the tag name and return, the benefits to using the built in way is that the information is cached and function real

[2016-10-31 12:29] joeybloggs commented on #258
@dkostenko here is some sample code:

[code]

[2016-11-06 18:15] wanghq opened #259 "Does the position of the ommitempty matter?"
### Package version eg. v8, v9:
Only tested with v8

### Issue, Question or Enhancement:
Question: does the position of  the ommitempty matter? I know it matters to "dive". For below example, I expect that they both return false.

### Code sample, to showcase or reproduce:

[code]

[2016-11-06 19:22] joeybloggs commented on #259
Hello @wanghq

In short yes the order of `omitempty` does matter, but not in your example, they should be false failing on the `min` validation.

I don't exactly know what `util.Int32(0)` is returning, but I'm assuming it's a pointer to an integer with value of zero.
[code]

I ran the following code, and both returned false for me and both failed on the `min` validation as expected.
[code]

perhap

[2016-11-06 19:44] wanghq commented on #259
@joeybloggs , thanks for the quick response!

1. Yes, that util.Int32 returns the a pointer to the pass in integer. Sorry for not including that.
2. Yes, I was using an old version (https://github.com/go-playground/validator/tree/c193cecd124b5cc722d7ee5538e945bdb3348435)
3. Yes, upgrading to https://github.com/go-playground/validator/releases/tag/v8.18.1 fixed the problem.

[2016-11-06 19:44] #259 closed

[2016-11-15 23:21] jonmchan opened #260 "Inconsistent Order of Errors?"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:

Is there any way to make validator return errors in a consistent order or sort the validation errors? I'm trying to write a test against 3 errors, but the test fails randomly when the order of the errors are returned in different orders each time the test is run.

### Code sample, to showcase or reproduce:

[code]
Return Valu

[2016-11-16 00:15] joeybloggs commented on #260
Hey @jonmchan

That is very strange, the errors returned in v9 are in an array and validator is synchronous, so they should always return in the same order.

I will investigate, if you could provide your full test code that would be helpful, just to rule out the reuse of a variable or something.

[2016-11-16 00:38] joeybloggs commented on #260
@jonmchan update,

found the issue, I was storing the field cache in a map (for some reason) converting to an array now; should be fixed within a few hours at most :)

thanks for reporting

[2016-11-16 01:43] joeybloggs commented on #260
Hey @jonmchan

I've made the appropriate changes in [release 9.2.2](https://github.com/go-playground/validator/releases/tag/v9.2.2), please confirm this solves this for you :)

[2016-11-16 05:28] jonmchan commented on #260
@joeybloggs - you work fast! Yes, I updated my gin validator to v9. I'll test release 9.2.2 tomorrow and close this bug if I can confirm that the order of errors remain static. Thanks!

[2016-11-17 04:40] jonmchan commented on #260
The test assertions pass everytime! That did the trick! Thanks!

[2016-11-17 04:40] #260 closed

[2016-11-29 07:08] justinclift opened #261 "Support for non-latin characters?"
Looking at the available validation rules, there doesn't (yet) seem to be anything available for non-latin based character sets.  eg Mandarin, Japanese, Thai (etc)

Is there a desire to get that included? (#239 seems relevant)

If so, Astaxie's Golang programming intro has a method to validate Chinese characters: https://github.com/astaxie/build-web-application-with-golang/blob/c672edb3255b907296d

[2016-11-29 13:19] joeybloggs commented on #261
Hey @justinclift

alpha & alphanum should be the only validations that do not support latin characters that could/should(if not let me know) and yes I am interested in including 2 more validations.

I would like to add `unicodealpha` and `unicodealphanum` to accept unicode characters, can't break the current validations, the only thing is that the regex in #239 not only accepts unicode characters

[2016-11-30 07:10] justinclift commented on #261
Hmmm, there doesn't seem to be a validation for "is this a valid Unicode character string?" either, or am I not seeing something obvious?

[2016-11-30 10:58] joeybloggs commented on #261
Hey @justinclift

No you are not missing anything, as my previous comment mentioned, I would like to add them; they do not yet exist.

My time is just very limited right now and don't know when I can get to adding them, if someone could add them and make a pull request I'd merge it.

I will attempt  to add these sometime this morning if I can find time.

[2016-11-30 13:47] joeybloggs commented on #261
Hey @justinclift

I've added `alphaunicode` and `alphanumunicode` in [Release 9.3.0](https://github.com/go-playground/validator/releases/tag/v9.3.0)

please let me know if this helps

[2016-11-30 15:53] justinclift commented on #261
Oohh thanks @joeybloggs, that definitely looks useful.  I'll give that a shot, most likely tomorrow (brain dead atm).

[2016-11-30 23:03] mrLSD opened #263 "Is there a way to set Default value?"
Hi @joeybloggs, I liked the validator, great work!

Could you tell me, is there a way to set Default value for field?
For example, I have empty field, and rule with Default value for it.

[2016-11-30 23:14] joeybloggs commented on #263
Hey @mrLSD thanks,

Just so I understand, so you have a custom validation and want to set the value of the field and after the validation has run have the field still be set on the struct or variable passed for validation?

[2016-12-01 14:12] mrLSD commented on #263
Thank you for the response.

Example:

[code]

or for variable:
[code]

[2016-12-01 15:06] joeybloggs commented on #263
@mrLSD

ok I understood correctly, unfortunately this is not possible the way that validator is currently configured to work. It seems simple at first glance, but once getting into nested structs, arrays, maps, interfaces and pointers assigning values gets allot more complicated and the way validator works is it dereferences pointers before passing along to the validation functions, and so althoug

[2016-12-02 07:17] mrLSD commented on #263
@joeybloggs Thank you for great answer and interesting idea. I'll try it.

[2016-12-02 22:11] justinclift commented on #261
It turns out I was getting ahead of myself, so it'll probably be at least a few days until I can try this out properly. 👼

[2016-12-07 00:02] thessem opened #264 "`structonly` only works when combined with `required`"
### Package version eg. v8, v9:

"gopkg.in/go-playground/validator.v9"

### Issue, Question or Enhancement:

The `structonly` tag seems to do nothing when it isn't combined with the tag required

### Code sample, to showcase or reproduce:

[code]

if the line above is changed from
[code]
to
[code]
the error
[code]
is given, but not if it is left as `required,structonly`.

Additionally, is there an

[2016-12-07 02:07] joeybloggs commented on #264
Thanks for reporting @thessem it ha been corrected in [release v9.3.1](https://github.com/go-playground/validator/releases/tag/v9.3.1)

Please test yourself and let me know that it's working for you as well 😄

As for making `structonly` the default behaviour currently there is no way to set that as the default behaviour thanks you for the idea though, I'll add this to a list of future additions mu

[2016-12-07 05:09] thessem commented on #264
I was using `structonly` to avoid recursing into the nested struct's fields.

My structs are a graph connected to each other by pointers where nodes can have properties (fields) and links to other nodes (represented by a pointer to another struct). I was hoping to avoid recursing through the structs because I already have a flat list of structs in an `[]interface{}`.

This was a bit of a hack, but

[2016-12-07 05:09] #264 closed

[2016-12-12 00:18] thessem opened #265 "Validator can get into infinite loop with circular structs"
### Package version eg. v8, v9:

`gopkg.in/go-playground/validator.v9`

### Issue, Question or Enhancement:

If you set up a circular struct with validation tags, validator will loop infinitely

### Code sample, to showcase or reproduce:

The following code
[code]
will produce the error
[code]

[2016-12-12 00:33] thessem commented on #265
Being able to turn off recursive validation would be deeply appreciated since my structs are extremely circular and not necessarily connected, or at least a sketch of how to implement this so I can do it as a PR :)

[2016-12-12 01:01] joeybloggs commented on #265
Hey @thessem

This is an interesting one, haven't seen it in a while so there are a few options depending on how the references are made, but the best one is:

You could use the `structonly` or `nostructlevel` tag on the `User` field of `Address` after the `required` tag. this is a good option if the user on the Address is assigned by the program and not user input, which most circular data would

[2016-12-22 13:35] joeybloggs commented on #265
Hey @thessem just checking to see if this worked for you.

[2016-12-22 21:05] cbandy opened #266 "Incorrect namespace with anonymous top level"
### Package version eg. v8, v9:

`gopkg.in/go-playground/validator.v9`

### Issue, Question or Enhancement:

When the top-level struct is anonymous, diving into a slice of structs returns FieldError with an incorrect namespace.

I started with an anonymous struct and a `json` TagNameFunc. Things went well:

[code]

When my needs grew beyond a slice of string, I refactored to a slice of struct. The

[2016-12-22 23:55] joeybloggs commented on #266
Hello @cbandy

I haven't seen that one before.

I immediately suspect that it because the struct used in your array is unexposed(lowercase name) which will limit the I formation the validator package can get from the struct, but I will look into this and verify exactly what's happening.

If you wanted to try with an exposed struct in the mean time that would sure speed things along :)

Thanks

[2016-12-23 02:53] joeybloggs commented on #266
Hey @cbandy

I've corrected the issue in [Release 9.3.2](https://github.com/go-playground/validator/releases/tag/v9.3.2)

please let me know if it solves the issue for you.

[2016-12-24 04:27] thessem commented on #265
Sorry for leaving this open, it does work for me but I didn't like the idea of having to add `nostructlevel` all throughout my validation flags so I've been trying to find a way which I find more philosophically 'pure', I think might end up with me attempting to add some traversal logic configuration to the validator.

Thanks for the link, I'm closing this now since my use-case is quite different

[2016-12-24 04:27] #265 closed

[2016-12-24 12:06] joeybloggs commented on #265
No problem @thessem

I too wish there was an easier way, just don't know how to tell validator the user on the address and the address on the user is recursive without a tag or some other equivalent logic.

Another way, which would be more 'pure' would be to do only struct level validation that way you could program the logic to not recurse and still maintain all the benefits of validator.

[2016-12-27 12:09] #266 closed

[2016-12-29 16:25] cbandy commented on #266
Resolved! Thank you.

[2016-12-30 09:57] mehdy commented on #257
it would be great to add validation for weekdays

[2016-12-30 11:21] joeybloggs commented on #257
Hey @mehdy

Would you be able to provide and example of how/when this validation would be used?

[2016-12-30 16:53] mehdy commented on #257
hey @joeybloggs
ofc, I'm dealing with some sort of events which has some fields that determines the weekdays.
I'm using this alias now. but I think it would be much better to be implemented with switch/case
[code]

[2016-12-30 17:11] joeybloggs commented on #257
@mehdy ok I see

I don't think I'd want to add that to the built in validations, only because it is a pretty specific validation case, I only add ones to the core that everyone would use the same way.(I really need to create a separate repo for validations that aren't in the core so people can register then as needed)

But you could also implement this as a custom validation and replace the alias,

[2017-01-06 23:31] pipejesus opened #268 "Extracting the JSON tag name"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
Hi there, how can i extract the "json" name of the struct field (provided in the tag) instead of the real struct field name?

When i do the following:

[code]

i get the real struct field name, not the one i provide in the `json:"something"` tag
Sorry to bother you with this, i'm stuck with this and don't know how to handle it

[2017-01-06 23:36] pipejesus commented on #268
Sorry, i found the answer in the closed issue here:

https://github.com/go-playground/validator/issues/258

Thank you!

[2017-01-07 11:47] #268 closed

[2017-01-07 12:21] pipejesus opened #269 "returning specified sturct field value in the error"
### Package version eg. v8, v9:
v9

### Question :
Hello, i've come across the problem i do not know how to approach: my struct looks like this:

[code]

and i want to do a struct validation but need to get the value of the field "Reference" if the validation fails. I do not know even where to start.

[2017-01-07 12:45] joeybloggs commented on #269
@pipejesus it sounds like your validation is getting a bit more complicated and there are a couple of options.

1. Create your own custom validation, `requiredref` or whatever you wish to call it, and within the validation you will have access to the entire struct via the [Field Levels Parent function](https://github.com/go-playground/validator/blob/v9/field_level.go#L14) but this doesn't help you

[2017-01-07 13:04] pipejesus commented on #269
Hi Joey, huge thank you :-) I'll try to work something out with your insight !

[2017-01-07 13:40] pipejesus commented on #269
So this isn't a very elegant way to do this for sure ; ) but i got what i needed by registering this StructLevel validation:

[code]

Then, when i'm collecting the errors i check whether the "error" is  just actually a "jsref" type of error and add it to a map for later comparison, as now i have the value of the JSRef field spit out in the "param". From there i can  generate the final JSON error o

[2017-01-07 13:52] joeybloggs commented on #269
glad it worked for you @pipejesus

Ya there isn't a great way right now, but it all works and the most important thing is consistent error reporting output.

There is one more way you could do this if your interested, the very first value passed to `ReportError` will be accessable in the resulting `FieldError` from the [Value](https://github.com/go-playground/validator/blob/v9/errors.go#L134) that

[2017-01-18 10:06] junaidaziz-kwanso opened #270 "image field validation"
## Package version , v9:

 ### Question:

How can i validate image field on struct level is image present or it is image not other files

[2017-01-18 10:59] joeybloggs commented on #270
@junaidaziz-kwanso It depends on how your storing it in your struct I suppose, more details are definitely needed; what does your struct look like?

[2017-01-18 11:26] junaidaziz-kwanso commented on #270
@joeybloggs
here is code for y struct

type WatermarkStep struct {
	WatermarkImage string `json:"watermark_image"`
	X              int    `json:"x"`
	Y              int    `json:"y"`
}

how can i check if watermark_image is present and is valid image

here function for validation

func WatermarkStepStructLevelValidation(sl validator.StructLevel) {

	watermarkStep := sl.Current().Interface().(Water

[2017-01-18 11:47] joeybloggs commented on #270
Oh ok @junaidaziz-kwanso so it's a path to a file on disk.

So for checking if it's present you can use `os.Stat()` to determine if the file exists by checking if error returned is nil or not.

As for checking if it's valid, it depends on your situation, you could:
- Check the file extension e.g. .PNG, .Jpg.. if that can be trusted
- if it can't be trusted you could look into using the image packa

[2017-01-18 11:53] junaidaziz-kwanso commented on #270
yeah basically i am building a api which will receive file and process on image and i am new on golang so i am little confuse how to validate image presence and type i found this package really good to handle my params

[2017-01-18 11:55] junaidaziz-kwanso commented on #270
@joeybloggs can you share a snippet or example

[2017-01-18 12:30] joeybloggs commented on #270
Ya no problem @junaidaziz-kwanso just give me a couple hours, I'm getting ready for work now :)

[2017-01-18 12:33] junaidaziz-kwanso commented on #270
@joeybloggs ok sure waiting for your response

[2017-01-18 13:39] joeybloggs commented on #270
ok @junaidaziz-kwanso so normally I have a struct like this:
[code]

Then parse the form and normal stuff
[code]

then process the file information into the struct:
https://golang.org/pkg/net/http/#Request.FormFile
[code]

then you can validate the `Content-Type` in your struct validaiton to ensure it's a supported image type; you may even want to verify that before doing all of the copying etc...

[2017-01-18 20:14] junaidaziz-kwanso commented on #270
@joeybloggs thanks for your response currently working on task i will ping you if stuck 👍

[2017-02-07 19:02] fasilenko opened #272 "package gopkg.in/go-playground/validator.v9: exit status 128"
### Package version v9:

$ go get -u gopkg.in/go-playground/validator.v9
cd .; git clone https://gopkg.in/go-playground/validator.v9 /Users/Stalker/Workspace/src/gopkg.in/go-playground/validator.v9
Cloning into '/Users/Stalker/Workspace/src/gopkg.in/go-playground/validator.v9'...
error: RPC failed; HTTP 301 curl 22 The requested URL returned error: 301
fatal: The remote end hung up unexpectedly
pa

[2017-02-07 20:45] joeybloggs commented on #272
@fasilenko  It looks like GitHub or Gopkg.in is having some problems, the key error is `error: RPC failed` and `fatal: The remote end hung up unexpectedly`

this has happens to me a few times a year, I assure you it has nothing to do with `validator` itself.

I just did a `go get -u gopkg.in/go-playground/validator.v9` to confirm and it successfully completed for me.

#### Other Possibilities
- In

[2017-02-08 06:25] fasilenko commented on #272
@joeybloggs Yes, you're absolutely right regarding "It looks like GitHub or Gopkg.in is having some problems"...
Currently everything is ok! And I'm happy :)
Thanks!

[2017-02-08 06:25] #272 closed

[2017-02-17 04:03] mrxinu opened #273 "Minor typo in README"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

The word 'complement' is spelled 'compliment' twice in the README.md.

[2017-02-17 04:17] joeybloggs commented on #273
Thanks @mrxinu will fix tomorrow

[2017-02-24 17:49] #273 closed

[2017-03-01 22:45] #261 closed

[2017-03-02 00:57] justinclift commented on #261
Sorry for the delay.  Got distracted by other things.

No idea when I'll get around to testing this part of things myself. 😦

[2017-03-02 00:58] joeybloggs commented on #261
No worries I know how things can get busy :smile:

[2017-03-03 09:02] semir-karic opened #274 "How can i return json field name from Field() instead of"
Package version V9

Can I return a json name from structure fields instead of GO structure field name ?
 Example
[code]

When validating this struct I want to know if it's possible to return "first_name" instead of "FirstName" when calling err.Field()

Thanks

[2017-03-03 10:51] joeybloggs commented on #274
Hey @semir-karic

yep that's totally doable, you just have to [Register a Custom Tag Name function](https://github.com/go-playground/validator/blob/v9/validator_instance.go#L120)

e.g.
[code]

Thanks for the question, let me know how it goes :smile:

[2017-03-03 12:35] semir-karic commented on #274
That's it thanks a alot. I've just added if the name is "-" or "-" to display the field name from structure in case I don't have json tag set for any of the fields.

[2017-03-03 14:20] joeybloggs commented on #274
Awesome glad it worked :thumbsup:

[2017-03-03 14:20] #274 closed

[2017-03-07 02:17] adred opened #275 "validator.struct() does not work when passed with interface{}"
Hello guys I need help with this: http://stackoverflow.com/questions/42638644/validator-struct-does-not-work-when-passed-with-interface

[2017-03-07 02:51] joeybloggs commented on #275
Hey @adred

That is interesting, I will have to write up a proper test and check it out. I am unfortunately busy until the weekend, but would be happy to help then.

I do have a suggestion though, would you be able to simplify your example and just have the Validate function return the validation error and print it out, just to rule out any of the other logic possibly causing an issue.

And the ot

[2017-03-08 15:55] theobouwman opened #276 "GET REQUEST VALIDATION"
How can I validate variables in a get request?
Something like this:
[code]

[2017-03-08 16:01] joeybloggs commented on #276
Hey @theobouwman

You can validate every URL value on its own using 'validate.Var(...)`

or decode the URL.Values into a struct and then validate the struct. Check out [form](https://github.com/go-playground/form) for decoding URL.Values into struct.

Sorry about no code example, answering from my phone..Let me know if this helps :)

[2017-03-08 16:24] theobouwman commented on #276
Thanks, I can not decode the URL.Values
But I throws an error:
[code]
When I pas the `module-uuid` parameter the `ModuleUUID` field of the request object is still set to its zero-value. So I think something is going wrong during the decoding.

[2017-03-08 16:45] joeybloggs commented on #276
Hey @theobouwman

Ok so your query param is all lowercase `module-uuid` and the form library doesn't know what field that is in the struct unless the field name matches or you add the following to the field tag `form:"module-uuid" so it knows which field it should decode it into.

[2017-03-08 17:14] theobouwman commented on #276
Thanks that worked.
But it throws this: ```2017/03/08 18:12:20 http: panic serving [::1]:56843: reflect: call of reflect.Value.IsNil on array Value
[code]

[2017-03-08 17:26] joeybloggs commented on #276
I'm far away from my computer right now but I think it may have something to do with `uuid.UUID` type

Although it's underlying type is string, which form is seeing,  a uuid isn't really a string...If that's the case then you just have to register the uuid.UUID type with form...I know it seems like allot and I wish I was near a computer to confirm...But let me know ow if that works

[2017-03-08 17:37] theobouwman commented on #276
@joeybloggs you are right, I have to register `uuid.UUID` as a type.
The documentation says that you need to register it on the `Decoder`, however what is a good practice to do that, because you don't want to register it every single? (Golang is pretty new to me)

[2017-03-08 17:45] joeybloggs commented on #276
Oh I see both form and validator are intended to be initialized only once and then that instance reused eg.
[code]
Then use decoder over and over throughout your entire application, it along with validator, cache the struct information for speed and efficiency.

Could create a utility package which has both form and validator exposed.

The way I do it is have a struct with applications variables e

[2017-03-08 17:50] theobouwman commented on #276
@joeybloggs thanks. Could you mention me on that example?

[2017-03-08 17:50] #276 closed

[2017-03-08 17:52] theobouwman commented on #276
@joeybloggs I have a Config package with a few variables that need to be accessed throughout the application. So whenever I need them I import that package.
Is that inefficient?

[2017-03-08 20:16] joeybloggs commented on #276
No @theobouwman it is not inneficient and works for most projects just fine.

However once a project gets to a certain size it just becomes easier and easier for a config type package to become a dumping ground for anything and it can get harder to keep separations of concerns; it's like having a function that more and more parameters keep getting added, even if you only use two.

Here is how I wo

[2017-03-09 00:20] joeybloggs commented on #275
Stack Overflow question delete, so I guess solved

[2017-03-09 00:20] #275 closed

[2017-04-21 13:08] 23doors commented on #254
Any progress on that?

[2017-04-21 13:25] joeybloggs commented on #254
Hi @23doors I had a working implementation, but was considering perhaps adding the Map validation function instead as checking map values it usually about checking a range of values, which would be better to do in a custom function rather than in Struct tags as a hard coded list.

Either way, map keys can already be checked by registering a StructLevel validation..Which is almost exactly like a ma

[2017-04-21 13:28] 23doors commented on #254
@joeybloggs thanks, I'll just go with StructLevel validation for now. Looks like a pretty clean solution.

[2017-04-21 13:31] joeybloggs commented on #254
Thanks @23doors and that's exactly why I haven't closed or completed this issue as nobody hasn't been able to satisfy their needs with struct level validation; so why add more complication to the library :)

But if someone can give me a use case for it, I'd definitely pursue it again.

[2017-04-21 13:48] 23doors commented on #254
One downside to using custom structlevel or fieldlevel validation, it seems that you cannot use govalidator checks anymore. E.g. I would like to validate map[string]string that:
each key and value is printable ascii, key min/max length etc. Seems that I need to implement these checks by hand. Maybe consider exposing check functions like govalidator does?

[2017-04-21 13:54] joeybloggs commented on #254
@23doors I don't expose the function directly but do through validate.Var(...)

So they are exposed but you can also apply multiple validation checks at a time and can use [ReportValidationErrors](https://github.com/go-playground/validator/blob/v9/struct_level.go#L57) from within struct level validation.

[2017-04-21 13:59] 23doors commented on #254
@joeybloggs thanks! missed validate.Var(...) somehow

[2017-04-21 14:00] joeybloggs commented on #254
@23doors I'd give a better example but am shopping and answering from phone...Let me know if you need any help.

[2017-05-02 15:04] nicpottier opened #279 "examples directory should be _examples"
### Package version eg. v8, v9:

9.3.6

### Issue, Question or Enhancement:

When pulling in validator via a go-vendoring tool like glide, all the dependencies of the examples are pulled in, including gin-gonic etc.. Noticed this was an issue both for validator and universal-translator.

I believe the convention is to name your examples directory `_examples` and then those will be ignored by tools

[2017-05-02 15:33] joeybloggs commented on #279
@nicpottier I have not encountered `_examples` as a convention for the filenames

This seems like an issue with `glide` itself; it should not be grabbing dependency imports except those referenced from the `validator` package.

Which means that it is behaving contrary to `go get`

If this is happening I would file an issue with `glide` as it is not behaving correctly or perhaps there is an option/

[2017-05-02 15:48] joeybloggs commented on #279
Ok I see what's happening `glide` must be running `go install ./...` or `go build ./...` which is recursive.

`go get` does not behave this way it runs `go install` or `go build`

perhaps try passing the `-d` flag like go get.
[code]

You are correct the go build will ignore any directory beginning with and `_`, `.` or the `testdata` directory.

I will look into renaming the `examples` directory i

[2017-05-03 01:06] nicpottier commented on #279
Cool ya, mostly just flagging this as I imagine anybody else using glide is having trouble with it and the fix seems pretty easy. (though it is a weird convention)

Thanks for considering the change!

[2017-05-18 00:02] bluekeyes opened #280 "Why does RegisterValidation return error?"
### Package version eg. v8, v9:

9.3.6

### Issue, Question or Enhancement:

Why does the `RegisterValidation` function return `error`? Looking at [the implementation](https://github.com/go-playground/validator/blob/v9/validator_instance.go#L134), errors only occur if the caller provides empty arguments. On the other hand, if the caller provides a tag with invalid characters, the function panics i

[2017-05-18 00:19] joeybloggs commented on #280
I see what you mean, it should panic if any issue; because if any validation fails to register there's a failure point, especially if an error is ignored.

I think it must have been some legacy code hanging around.

I unfortunately can't change v9 for compatibility reasons but will change as an enhancement for V10 some day :)

Thanks for bringing to my attention.

[2017-05-31 15:52] james-maloney opened #281 "Translate or change field names."
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

Question

### Code sample, to showcase or reproduce:

Is there a way to translate the param name when an error occurs?

For instance:

If I want to translate the "required" rule like "{0} must have a value!" and the name of the struct field is "Name" how do I translate "Name" when it replaces "{0}"?

I have toyed around with

[2017-05-31 17:07] joeybloggs commented on #281
No there's currently no way to customize the field name, usually I keep the messages generic.

If you keep them generic then after validation could have your own logic to translate the field name and combine with the rest of the translation...or just handle the whole translation after an error.

Haven't yet thought of a good way to dynamically change the field name.

[2017-06-01 19:37] james-maloney commented on #281
Good to know.

Thanks for answering my question, I appreciate the work you have put into your Go packages.

[2017-06-01 19:37] #281 closed

[2017-06-02 02:46] joeybloggs commented on #281
Thanks @james-maloney means a lot :)

Actually there may be a way to do what your looking for, when registering a translation function your could reference a pre-built map, or translation from within your function and while building the translation could substitute the Field name with whatever your want.

I admit it is an annoying amount to boilerplate to define a translation for every field name,

[2017-06-05 02:59] #255 closed

[2017-06-05 03:00] #257 closed

[2017-06-05 03:02] #263 closed

[2017-06-05 03:05] #270 closed

[2017-06-05 03:06] #269 closed

[2017-06-06 02:28] s4l1h opened #282 "How to get field name"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:
How to get field name eg: **Name**
### Code sample, to showcase or reproduce:

[code]

[2017-06-06 04:28] joeybloggs commented on #282
Hey @s4l1h

So I'm assuming you are looking to access the struct field name from within the validation, currently there is no method to get that value...bit after a validation fails your can https://github.com/go-playground/validator/blob/v9/examples/simple/main.go#L72

Any reason you need the field name from within the validation?

[2017-06-06 09:20] s4l1h commented on #282
check if record exists in database

important problem

[code]

[2017-06-06 13:15] joeybloggs commented on #282
@s4l1h makes perfect sense

I think I can pass the cached filed info along and then add a couple of methods to the FieldLevel interface to access both the struct and alt name's.

It may take me a few days, I'm out of town right now, but will try to make the changes asap.

[2017-06-07 02:06] s4l1h commented on #282
@joeybloggs thanks for reply and effort.I can help.
Pls check pr.

[2017-06-14 08:59] bsed opened #286 "ab -n 50000 -c 500 -p ./postfile.json -T 'application/json' http://127.0.0.1:/api/"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:

i ab test v9 ,error
[code]
### Code sample, to showcase or reproduce:

[code]

[2017-06-14 09:15] bsed commented on #286
Concurrent read / write lock

[2017-06-14 15:04] joeybloggs commented on #286
Hello @bsed

So it looks like you are creating a new Validator instance, assigning it to a global variable and then Registering a new struct validation each request; the issue is that `RegisterStructValidation` is not thread/goroutine safe as stated in the documentation [here](https://github.com/go-playground/validator/blob/493dfb6209fcb493fcdbc2a0f14b882f2d53979f/validator_instance.go#L178)

By d

[2017-06-15 01:29] bsed commented on #286
I've changed it in step two, and the problem still happens. error :
[code]

validator.go
[code]
here `is nation.go` code
[code]

[2017-06-15 02:17] bsed commented on #286
i add sync.Mutex in Validate struct
like this:
[code]
Step 2 add `v.processMutex.Lock()` and defer `v.processMutex.Unlock()`
[code]

Step 3  execute the following command
[code]

In that case, no error would have occurred

[2017-06-15 02:19] bsed commented on #286
![image](https://user-images.githubusercontent.com/10845087/27162483-0ca86588-51b4-11e7-9889-a09fe8a2f61b.png)

[2017-06-15 02:25] bsed commented on #286
But performance is beginning to decline

[2017-06-15 03:23] joeybloggs commented on #286
@bsed I think your misunderstanding when to use `RegisterStructValidation`

your calling `RegisterStructValidation` each http request and that's why you're running into the issue, as it's not thread safe
[code]

what you should be doing it in main.go or your global validator only once
[code]

Validator remembers the struct by it's type, and there is no need to register it again.

[2017-06-15 04:00] bsed commented on #286
@joeybloggs  thank you，  The problem has been solved and other partners are not expected to encounter such problems, buddy  ^.^

[2017-06-15 04:00] #286 closed

[2017-06-24 00:12] 0505gonzalez opened #287 "Getting json tag field name"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
How can I get the json field name when validation fails?

### Code sample, to showcase or reproduce:
In the example below, I want to be able to get the `signup_email` json name, not `Email` in the validation error
[code]

and here's the output:

[code]

[2017-06-24 00:17] joeybloggs commented on #287
Hey @0505gonzalez ya I really have to create an example for that, You just register a tag name function like here https://github.com/go-playground/validator/blob/v9/validator_test.go#L366

That example is for json but could use any other tag too.

[2017-06-26 00:56] 0505gonzalez commented on #287
Got it, worked. Thanks.

[2017-06-26 00:56] #287 closed

[2017-06-28 14:35] geraldstanje opened #288 "question: default value"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
Question:
Is there a way to define a default value for ID, in case if its not passed? If the ID is present it needs to be >= 1

### Code sample, to showcase or reproduce:

[code]

[2017-06-29 02:34] #282 closed

[2017-06-29 02:42] joeybloggs commented on #288
Hey @geraldstanje no unfortunately not, validator is just not configured to do that, it's been asked about before, it's seems simple at first look, but way more complicated to do. I'd rather keep validator doing one thing really well.

However there is another library that can help, it's actually in the README, https://github.com/leebenson/conform that is designed to do exactly that.

So you'd jus

[2017-07-11 05:54] bogh opened #289 "Validating DB custom types with Valuer interface not working"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
I have a custom implementation of a struct that extends `sql.NullFloat64`. But even if I use the `sql.NullFloat64` validation still doesn't work for this field. If I use `float64` instead the validation works.
The documentation says that is should work for `Valuer` implementations.

### Code sample, to showcase or reproduce:

[2017-07-11 08:17] joeybloggs commented on #289
Hey @bogh

I guess the document should say has support for Valuer and overriding behaviour of any type. It works, just not out of the box, but it's only a few lines of code, please see the [custom example](https://github.com/go-playground/validator/blob/v9/_examples/custom/main.go); I only register some of the SQL.Valuer types in the example, but you can add the rest.

Explanation of why it's not

[2017-07-11 10:07] bogh commented on #289
@joeybloggs Makes perfect sense. Thanks for clarifying.

Don't have a problem that it's not out of the box :D

[2017-07-11 10:07] #289 closed

[2017-07-15 14:37] #279 closed

[2017-07-18 07:29] phamduong opened #290 "Error when put 0 for required int field"
### Package version: v9

### Issue, Question or Enhancement:
I try to put 0 as value for a required in field and the it says missing required field

### Code sample, to showcase or reproduce:

[code]

0 is valid value for int then it should work.

Could you please help.
Thanks.

[2017-07-18 09:12] phamduong commented on #290
My bad, it's documented.
Sorry,

[2017-07-18 13:23] joeybloggs commented on #290
It's also documented in the [godocs](https://godoc.org/gopkg.in/go-playground/validator.v9) under the `required` definition

Yes exists was removed because it was confusing, and functionality merged into required.

Just make your interested a pointer and keep using required tag.

[2017-07-22 12:30] mbn18 opened #291 "Validating full name"
### Package version eg. v8, v9:

`v9`

### Issue, Question or Enhancement:

Is it possible to validate `AlphaNumeric` value that include `space`, `dash` or any other char?
Or do I have to write a custom validator?

### Code sample, to showcase or reproduce:

Notice the Name. I wish it to accept "John Doe" or "John-Doe"
[code]

[2017-07-22 13:12] joeybloggs commented on #291
Hey @mbn18

You'd have to create a custom one, but should be pretty easy just copy-paste the current alphanum regex and add space and dash characters and register the new validation.

If you need any help just let me know.

[2017-07-23 05:56] mbn18 commented on #291
Thanks @joeybloggs , no problem, will do it.
As a suggestion, maybe it could be beneficial to support something like this:
[code]
In this example `alphanum=32+95+45` I added the ascii value of space, dash, underscore.

[2017-07-23 13:48] joeybloggs commented on #291
@mbn18 thanks for the idea, but it's rare that regexes are that straight forward.

Besides if I was another developer coming to read this code, I wouldn't have a clue what '32+95+45' meant. It will/could make the tags harder to read and much longer.

I have document [here](https://godoc.org/gopkg.in/go-playground/validator.v9) why I don't have a regex tag( near the bottom) and this is pretty much

[2017-07-23 13:49] joeybloggs commented on #290
Just checking in, did you get this all working?

[2017-07-23 16:14] thaonx opened #292 "Go 1.8 context supports"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:
Enhancement: I would like to have go 1.8 context support. In my project, I need a custom validation tag which checks value against with DB. In that case, a context.Context would be required for DB connection.
For example, this validator will check `userId` does exist in DB
[code]

### Code sample, to showcase or reproduce:
I

[2017-07-23 19:45] joeybloggs commented on #292
Thanks @thaonx

I really like this idea!  It would actually allow me to solve a few things I hadn't been able to reconcile until now :) like a better way to do translations.

Give me some time to look over the PR I may want to incorporate into v10 and make a bunch of other changes at the same time but from my initial quick look I'll probably be able to merge into v9

[2017-07-24 10:58] phamduong commented on #290
it works.
Thanks

[2017-07-24 10:58] #290 closed

[2017-07-24 13:39] mbn18 commented on #291
Thanks

[2017-07-24 13:39] #291 closed

[2017-07-25 15:40] zhsj opened #294 "Random failed tests in TestIsGte and TestIsLt"
### Package version eg. v8, v9:

both v8 and v9.

### Issue, Question or Enhancement:

[code]

IMHO, that's caused by same time.Now() result when the two calls are very close.

![image](https://user-images.githubusercontent.com/227180/28580592-81d94900-7192-11e7-9051-f966e4fd1b1b.png)

[2017-07-25 15:56] joeybloggs commented on #294
Tanks @zhsj you're probably right, I'll adjust the tests to remove the false positive; nice that it's running so fast though!

[2017-07-25 17:23] nathanejohnson opened #295 "panic occurs when invalid validator tag is encountered"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
cache.go throws an unhandled panic instead of returning an InvalidValidationError when an undefined validation function is encountered.  I was under the impression that with v9, panics should not occur.

### Code sample, to showcase or reproduce:

[code]

[2017-07-29 16:59] joeybloggs commented on #295
Hey @nathanejohnson

I did this more as a safety precaution than anything, validator is not panicing because of the input, which you are correct about validator not panicing in that regard, but rather it's more that there is a bug in your code.

personally if something like this accidentally, somehow without tests or testing first, got into production I'd rather the application panic and let me kn

[2017-07-29 17:01] joeybloggs commented on #292
just letting you know I haven't forgotten about this, just super busy with work, moving and other projects requesting changes.

I promise I will get to it :)

[2017-07-30 01:10] nathanejohnson commented on #295
Then what is InvalidValidationError was for, if not a malformed validation:"" tag ?  To the caller, I'd argue it's all the same thing, whether it's an invalid "function" or just a specified validation that doesn't make sense.  One could also argue that it's never appropriate for a third party package to explicitly throw a panic that is leaked to the caller's context.  I can see your argument thoug

[2017-07-30 01:27] joeybloggs commented on #295
As documented [here](https://github.com/go-playground/validator/blob/493dfb6209fcb493fcdbc2a0f14b882f2d53979f/validator_instance.go#L230) it's for bad input types, not validation tags.

I just want to say I do understand your position as well and am willing to add this in the next version with a new `BadValidationTag` or alike. Although the code wouldn't be a breaking change, the logic because nob

[2017-07-30 01:31] nathanejohnson commented on #295
I guess I am misunderstanding then:  What is the InvalidValidationError actually for?  I was under the impression that ValidationErrors was returned if the input failed validation, and InvalidValidationError was returned if the specified validator tag was invalid?  Sorry if I'm being dense!

[2017-07-30 03:38] joeybloggs commented on #295
it's for when bad data aka struct is passed to say `validate.Struct(...)`

for example if you passed nil, or a string to be validated as a struct.

[2017-07-30 03:58] joeybloggs commented on #294
This should be fixed in [v9 release v9.5.0](https://github.com/go-playground/validator/releases/tag/v9.5.0)

don't know if i'll go back to fix in v8, I highly recommend upgrading to v9 or v10 which is on the horizon.

[2017-07-30 03:59] joeybloggs commented on #292
Hey @thaonx this is now added in [release v9.5.0](https://github.com/go-playground/validator/releases/tag/v9.5.0)

Thanks! lots of great things on the horizon for v10!

[2017-07-30 04:08] zhsj commented on #294
Thanks.

We are packaging this library inside Debian[1][2], as it's the dependency of the current version of github.com/gin-gonic/gin.  I will cherry pick your fix to v8 if you don't want to. But wish you can fix it in v8 too.

[1] https://ftp-master.debian.org/new/golang-gopkg-go-playground-validator.v8_8.18.1-1.html
[2] https://bugs.debian.org/869369

[2017-07-30 04:31] joeybloggs commented on #294
Ok considering that I'll backport the fix for you tonight or tomorrow.

[2017-07-30 05:06] joeybloggs commented on #294
OK @zhsj I've backported the fixes to v8 in [release 8.18.12](https://github.com/go-playground/validator/releases/tag/v8.18.2)

please let me know if you encounter the issue again or need anything else :)

[2017-07-30 05:32] zhsj commented on #294
Thanks! Close it now.

[2017-07-30 05:32] #294 closed

[2017-07-31 04:36] nathanejohnson commented on #295
https://github.com/myENA/radosgwadmin/blob/master/adminapi_test.go#L67

Here is an example of where I'm testing for InvalidValidationError and recovering from panics.  (in pratice I hope neither of these trigger).  To my earlier point, I think InvalidValidationError would be a good way to flag I'm mis-using your package.  Regardless, I have to handle both cases, panic or InvalidValidationError, in

[2017-08-03 05:45] sudo-suhas commented on #288
@joeybloggs I have recently started using this library through `gin`. I just wanted to say that the way you handle issues and provide support is nothing short of amazing. Thank you! Don't mind the comment unrelated to the issue.

[2017-08-08 10:32] bokub opened #299 "Opposite of required: validate that the value is the default zero value"
### Package version:
v9

### Issue, Question or Enhancement:
How do I validate that the value **is** the data types default zero value ?
I'd like to ensure that a pointer is nil, or a string is equal to "".

In short, is there a tag which is the opposite of `required`?

### Code sample, to showcase or reproduce:

[code]
I want to be sure that my user don't try to set 'ID' or 'Customer' in a specif

[2017-08-09 10:15] ipiao opened #300 "add tag unique"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
Question:
  - can you add a tag named unique for that value in  slice not  repeated,please

### Code sample, to showcase or reproduce:

[code]

[2017-08-12 16:51] joeybloggs commented on #299
@bokub sound like a pretty easy one to add, I'll add it as `isdefault` tag for clarity

[2017-08-12 18:12] joeybloggs commented on #299
Hey @bokub

I was well underway adding this new functionality, when I realized that this new tag would not play nice with other validations or program flow.

Your example illustrates it well, I can make `forbidden` error when a **Customer** is present that's fine, but then further in your program you're probably going to set a value for **Customer** and ID and want to validate that the values are

[2017-08-13 08:02] bokub commented on #299
Hi @joeybloggs

That is not my use case actually.

I use the same struct for both the POST and PATCH requests, but I don't want some fields to be changed after they are set

To do that, I use two different custom tags so the validation rules are different, but the structure stays the same.

When performing my database update, I tell mongo not to update nil or empty values,  so I want to ensure tha

[2017-08-14 15:24] joeybloggs commented on #299
ok @bokub I'll continue this then.

[2017-08-14 15:24] joeybloggs commented on #300
Thanks @ipiao seems like a reasonable new validation.

[2017-08-16 09:34] bokub commented on #299
Thanks @joeybloggs :+1:

[2017-08-17 06:07] ipiao commented on #300
Thank you @joeybloggs

[2017-08-24 09:28] ipiao opened #303 "how to validate param in slice"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:
Question:
  how can i validate fiirst param in a slice?
eg. i want to validate  whether Search[0] equals to "name"

### Code sample, to showcase or reproduce:

[code]

[2017-08-26 22:25] joeybloggs commented on #303
Hey @ipiao sorry for the late reply, been super busy

there's no build in way to validate only a single array or map value using a tag validation, but you can add a `Struct Level` validation for this use case that works with your other tags, see [here](https://github.com/go-playground/validator/blob/v9/_examples/struct-level/main.go)

It seems like a very one off case.

[2017-08-27 05:04] ipiao commented on #303
thank you @joeybloggs

[2017-09-02 14:43] #303 closed

[2017-09-05 11:57] nu11ptr opened #306 "FQDN validator panics on empty string"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

When the 'fqdn' validator is supplied an empty string it panics with 'index out of range'. Glancing at the code, this is because it takes the length of the string minus one, but never checks to see if it was empty first. Adding a 'required' validator first works as a workaround.

### Code sample, to showcase or reproduce:

[

[2017-09-05 15:07] joeybloggs commented on #306
Thanks @nu11ptr I'll correct ASAP

[2017-09-07 03:42] #299 closed

[2017-09-07 03:42] #306 closed

[2017-09-07 09:52] bokub commented on #299
Just replaced all my `omitempty,lt=0` with `isdefault`, that's a lot easier to read and understand

I can also write things such as
[code]
and be sure Customer is a nil pointer

Thanks for your work :+1:

[2017-09-07 13:51] joeybloggs commented on #299
No problem, glad I could make it work :)

[2017-09-07 15:44] #292 closed

[2017-09-08 12:25] DanielDHuynh opened #308 "Support for conditional mandatory fields"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
It would be nice if a field could be validated as `required` only when another field has a specific value.
In the code example, the `FinLength` is only mandatory if the `Type` is `fish`.
I tried to implement a custom validation but I couldn't end the validation pipeline when the field is not required. I looked into how `omitem

[2017-09-09 22:13] joeybloggs commented on #308
Hey @DanielDHuynh thanks for the suggestion.

Although this is possible to code, I highly recommend to everyone that once the validation reaches this level of complexity to use [struct level validation](https://github.com/go-playground/validator/blob/v9/_examples/struct-level/main.go); it can also be combined with validation via tags(they work together)

If I added this type of logic it would seve

[2017-09-11 11:51] DanielDHuynh commented on #308
Hi @joeybloggs,

I think this is a good solution, thank you!

[2017-09-11 11:51] #308 closed

[2017-09-12 07:17] anam-digicom opened #309 "How can i validate the slice or map? Can you please guide me?"
### Package version eg. v8, v9:

### Issue, Question or Enhancement:

### Code sample, to showcase or reproduce:

[code]

[2017-09-12 15:59] joeybloggs commented on #309
Hey @anam-digicom you would need to use the dive tag documented [here](https://godoc.org/gopkg.in/go-playground/validator.v9)

basic example:
[code]

let me know if that helps.

[2017-09-15 02:02] vitorleal opened #310 "Validate child struct data only if the parent struct is present"
### Package version eg. v8, v9:
v8

### Issue, Question or Enhancement:
There's any way that i can validate the fields of a struct as required but only if the struct exist?

### Code sample, to showcase or reproduce:
If the user don't have and address the `street` an error is raised because it's requiring the `Address.Street`. But i only want the `street` to be required if i add an `address` struc

[2017-09-15 03:47] joeybloggs commented on #310
Hey @vitorleal what you have should work.

I tested with the latest v8 & v9 just to make sure and it works:
[code]

can you confirm you have the latest changes?

[2017-09-15 15:09] vitorleal commented on #310
Sorry, i've tested again and it's worked now, probably some typo on my side.

Thanks for the quick reply!

[2017-09-15 15:09] #310 closed

[2017-09-26 19:55] yharish991 opened #311 "validation not working"
### Package version eg. v8, v9:
v.9

### Issue, Question or Enhancement:

I'm using gin in my project and i'm trying to validate the query parameters but doesn't work. Let me know if i have done something wrong

### Code sample, to showcase or reproduce:
Intialization of validator at the top of the file

[code]

[code]

[2017-09-27 04:31] joeybloggs commented on #311
Hey @yharish991 sorry for the late reply

Could you provide the values of country, company and productId, I assume they’re blank but just double checking.

And what’s the output you expect? And could you print out the err right after validate.Struct()

[2017-09-28 16:17] joeybloggs commented on #311
Hey @yharish991 so I finally got to test this on a computer and realized it's not working because your fields aren't exposed and so they are ignored.

change
[code]

to
[code]

and it should work as expected.

[2017-09-28 16:40] yharish991 commented on #311
Hi @joeybloggs , thanks for the immediate reply. Sorry my bad, it is my mistake. It worked after i changed the fields. Thanks. Closing this issue.

[2017-09-28 16:40] #311 closed

[2017-10-02 08:43] denouche opened #312 "Custom validator ?"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
I would like to define a custom validator for a string field of a struct.

I saw the example [here](https://github.com/go-playground/validator/blob/v9/_examples/custom/main.go) and I guess this is the way to go. But I cannot find any element in the documentation about these custom validators, what is the expected return value

[2017-10-02 12:22] alexyans opened #313 "Membership validation"
As of v9, i don't see a way to validate a struct field that can only take values from a restricted set of possible values. This is meant to act as a replacement for sum types (enums).

Example use case: Making sure that `User.Gender` can take values within `[]string{"male", "female", "n/a"}`

Any suggestions?

[2017-10-03 02:31] joeybloggs commented on #312
Hey @denouche

the link you provided is actually for custom type validations, like type for sql that implement `sql.Valuer`.

if you just want to register a custom validation that can be used on one or many string fields there is a good example [here](https://github.com/go-playground/validator/blob/v9/_examples/custom-validation/main.go)

and then if there are errors it's really of type.
[code]

w

[2017-10-03 02:41] joeybloggs commented on #313
Hey @alexyans

there are 2 ways, I recommend the 2nd

1. `validate:"eq=male|eq=female|eq=n/a"`

2. Use a function eg.
[code]

please let me know if that makes sense.

[2017-10-03 08:51] denouche commented on #312
Sound great, I will try with this. Thank you very much!

[2017-10-03 08:51] #312 closed

[2017-10-03 09:34] denouche commented on #309
Hey @joeybloggs

This works with a struct containing a slice field, but how to validate a slice using `validate.Struct(mySliceOfStructs)` ?

Thanks!

[2017-10-03 09:42] denouche opened #314 "Custom type validation on non-required field"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:

Hello, I'm playing with a case similar to this one:
https://github.com/go-playground/validator/blob/946d44437639ac503e2cf068cd8d7f221084cf90/_examples/custom/main.go#L14

In my custom validation function I validate the field format, it works as expected.
But in my case, the field is not required. When I remove the `required`

[2017-10-03 14:11] joeybloggs commented on #314
validate only caches fields that need validation, for performance and efficiency; I think you may be confused about what the custom type function is for.

The custom type fund is not used for validation at all, it’s used to transform the data from one form to another for validations to use; for example sql.NullString some people will be ok with a null value and so if it’s null return a string, oth

[2017-10-03 14:17] joeybloggs commented on #309
@denouche because your validating a variable at this point you would use validate.Var(mySliceOfStructs, “required,dive”) or if not required use “omitempty,dive”

[2017-10-03 15:07] denouche commented on #314
Make sense, thank you

[2017-10-03 15:07] #314 closed

[2017-10-03 15:44] denouche commented on #309
Nice, it works great.

So fast to answer, great answers, nice library!

Thank you!

[2017-10-10 02:58] #309 closed

[2017-10-12 13:10] 7fELF opened #315 "Is `func (*Validate) Struct` thread-safe ?"
### Package version:
v9
### Issue, Question or Enhancement:
Question

I'm using  `func (*Validate) Struct` to validate API requests.
Is that safe to use only one instance of `Validate` for the whole project considering there may be simultaneous calls to `(*Validate) Struct()`?

[2017-10-12 13:56] joeybloggs commented on #315
Hey @7fELF great question

And the answer is yes it is completely thread/goroutine safe and is designed to be used with a single instance. Validator also caches information about your struct and validations, in essence only parsing your validation tags once per struct type, without a single instance you wouldn’t get the advantages of the cache.

[2017-10-12 14:02] 7fELF commented on #315
Thanks for the quick answer :smile:

[2017-10-12 14:02] #315 closed

[2017-10-19 16:04] lbozza opened #316 "Problem with data type validator"
### Package version eg. v8, v9:

V9
### Issue, Question or Enhancement:
Hello i'm trying to use the validator to validate a json object, the problem is that when I try to send an int instead of a string (which the set type fo the field) I get an error, and not just for this field, i get an error for all the following fields that needs to be validated.

### Code sample, to showcase or reproduce:

[2017-10-20 01:41] joeybloggs commented on #316
Hello @lbozza

Would you be able to provide a more complete example? It’s a little difficult to diagnose with an incomplete picture, I have no idea how you populated the struct, which json library was used or what validations or json tags are set on the internal struct fields.

Have you printed out the struct to ensure the data that was decided into it? I suspect that it might not the data.

[2017-10-20 11:09] lbozza commented on #316
hey @joeybloggs , here its a little bit more of code:
``package charging

import (
	"encoding/json"
	"gopkg.in/go-playground/validator.v9"
)

var validate *validator.Validate

func init() {
	validate = validator.New()
}

type Charging struct {
	Reference	string `validate:"required,gte=1,lte=100"`
	Currency    string `validate:"required,len=3"`
	Country     string `validate:"required,len=2"`
	Integ

[2017-10-20 23:44] joeybloggs commented on #316
@lbozza that makes sense, you can always make your struct implement `UnmarshalJSON` and you could decode that field to a `json.Number` in a custom struct and then populate the string field with the int value.

[2017-10-23 03:05] #300 closed

[2017-10-23 03:10] #316 closed

[2017-10-23 16:48] lbozza commented on #316
HEY @joeybloggs thanks for the tip.

[2017-10-23 21:12] yokanandCIC opened #318 "How to check if fieldType of a struct is of type const enum"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
How to check if fieldType is of type const enum

### Code sample, to showcase or reproduce:

[code]
type Person struct {
        Name           string  `json:"name" validate:"required"`
        currency       string `json:"currency" validate:"required"`
        phone          string  `json:"phone" validate:"required"`
}
type c

[2017-10-25 02:25] timakin opened #319 "required boolean field will be invalid if the value was `false`."
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

I declared a boolean flag `enabled` for logical deletion.

When I specified `"enabled": false` in a request payload, it raised the error.

`Error:Field validation for 'Enabled' failed on the 'required' tag`

It seems required boolean field will be regarded as an invalid one if it was false.

### Code sample, to showcase or r

[2017-10-25 05:28] joeybloggs commented on #318
@yokanandCIC  please see issue #313 which is almost exactly the same as what you're asking and I provide 2 examples of how to do it.

[2017-10-25 05:53] joeybloggs commented on #319
Hey @timakin I feel like I've answered this a million times lol, time to add it to the docs or provide example I guess.

ok so here's the explanation, in multiple parts:

Go's static nature doesn't allow nullable/unassigned/undefined types but initializes them to their default values.

`required` - required under the hood checks if the value of the field is the default value of the datatype; in th

[2017-10-25 06:46] timakin commented on #319
Thanks for your clear explanation!
I surely understood that `json.Decoder` is strongly related to this topic.
It works if I won't attach the `required` tag to boolean fields, so it's just the question.
If it's on the doc it'll save so many users of this package.

[2017-10-25 08:04] FlamingTree opened #320 "is there way to specify field's error string when validate failed"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

is there plan to add some tag filed, for example `validate:"errstr:xxx"`, when validate the filed failed, return error "xxx"

### Code sample, to showcase or reproduce:

[code]

[2017-10-25 12:47] ThomasBaier commented on #313
Hey @joeybloggs,

can you give another example? I don't understand how you compare the const struct with the map object? I would expect your algorithm is checking if the actual object matches the model?

thanks in advance!

[2017-10-26 15:55] yokanandCIC commented on #313
Hi @joeybloggs Yes, this approach helped me. Thank you for your message. But, I found that we could do the validation without custom validation function. My suggestion is:

const (
  Val1 string = "value1"
  Val2 string = "value2"
   ...
)

m := map[string]struct{}{
  Val1:struct{}{},
  Val2:struct{}{},
}

 _,ok := m[string]
 if ok == true
  return ok

[2017-10-28 00:27] joeybloggs commented on #320
Hey @FlamingTree

let me think about it, there are a couple of reasons that functionality isn't implemented.

1. Internationalization, a static message in one local just doesn't cut it; however I would still add this functionality for those that don't require it.

2. An example will best explain the next one:
[code]

This is just a basic example, the complexity can be much higher once getting into

[2017-10-31 12:53] FlamingTree commented on #320
govalidator use `valid:required~Some error` specify custom error [](messagehttps://github.com/asaskevich/govalidator/blob/ddb193b4c7bfa1d1c1923ae05a1ee8fb0cd45cf3/validator.go#L631-L650)

[2017-10-31 12:54] FlamingTree commented on #320
govalidator use valid:required~Some error specify custom error [https://github.com/asaskevich/govalidator/blob/ddb193b4c7bfa1d1c1923ae05a1ee8fb0cd45cf3/validator.go#L631-L650](url)

[2017-10-31 12:55] FlamingTree commented on #320
govalidator use `valid:required~Some error` specify custom error [https://github.com/asaskevich/govalidator/blob/ddb193b4c7bfa1d1c1923ae05a1ee8fb0cd45cf3/validator.go#L631-L650](url)

[2017-11-03 15:48] AlexMain opened #321 "How to check optional enclosed param"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

Question

### Code sample, to showcase or reproduce:

[code]
All hi, I want to validate the enclosed optional parameter how I can make it?
  I have a field arr [1,2, 3] - this parameter not obligatory, and I need to check enclosure in this massif, but this massif not obligatory, now after dock I can make only this way**: val

[2017-11-05 06:01] joeybloggs commented on #321
Hey @AlexMain

If I understand you correctly, you only want to validate the array if it’s present.
I think you’re looking for `validate:”omitempty,dive,required”`

Please let me know if this is what you’re looking for :)

[2017-11-07 11:50] AlexMain commented on #321
Thanks, it's work.

[2017-11-07 17:03] #321 closed

[2017-11-08 10:08] gangstaJS opened #322 "Ref to a field"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

How can I add a validator for fields `password` and `confirmPassword`?

### Code sample, to showcase or reproduce:
at nodejs I am using `Joi` for the case and I can add ref to another field

[code]

[2017-11-08 16:15] joeybloggs commented on #322
Hey @gangstaJS

your looking for the `eqfield` tag eg. `validate:"eqfield=ConfirmPassword"`

Please see the [docs](https://godoc.org/gopkg.in/go-playground/validator.v9) all tags should be thoroughly documented there.

[2017-11-09 15:12] sirakuzi opened #323 "Similar to StructNamespace function for JSON"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

FieldError interface has StructNamespace func that returns full path to error field in Golang struct terms.
But if you work with JSON - much better to receive same path, but in JSON terms. Example:

### Code sample, to showcase or reproduce:

If name of second child isn't specified - StructNamespace returns "Family.Child[1].

[2017-11-09 15:29] joeybloggs commented on #322
Please let me know if this worked for you :)

[2017-11-11 14:58] joeybloggs commented on #323
Hey @sirakuzi

If you register a `TagNameFunc` you can extract any tag names you want, including `JSON`, and then use the `Namespace()` function instead, `StructNamespace()` will remain unchanged eg.
[code]

outputs:
[code]

although the top level struct `Family` remains the struct name as there is no way to get a `JSON` name from it, this should get you 99% of the way to what you're looking for a

[2017-11-13 08:47] nikonor commented on #323
Thank you!!
You realy helped.
Early we reflected structs follow splited StructName. And it's was bad.

[2017-11-13 10:55] sirakuzi commented on #323
Hey @joeybloggs
Yeah, that works, thank you! :)

[2017-11-13 15:43] #323 closed

[2017-11-15 18:50] jlpellicer opened #325 "Validate a string as an ISO date?"
Hi, I'm working on an API that receives a JSON string which is supposed to be a date.
Is it possible to check if the string is a valid ISO 8601 date format?
Thank you

[2017-11-15 18:54] joeybloggs commented on #325
@jlpellicer yes you can there is however no built in validation to handle that, but you can easily register a custom validation and tag to use see [here](https://github.com/go-playground/validator/blob/v9/_examples/custom-validation/main.go) for a simple example

If you need anymore help, just let me know :)

[2017-11-15 19:14] jlpellicer commented on #325
this will do, thanks!

[2017-11-15 19:14] #325 closed

[2017-11-17 05:48] #322 closed

[2017-11-21 19:17] kickroot opened #326 "Mixing string pointers with max"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
I've scoured over the documentation but can't find an example that covers this use case.  I've got a struct that has string fields that may be nil.  Is it possible to allow nil fields while still enforcing a max length if they exist?  When I attempt to validate  the struct below with nil FirstName, LastName, or DisplayName fie

[2017-11-22 06:18] joeybloggs commented on #326
Hey @kickroot

I think what your looking for is `omitempty` eg.

`validate:”omitempty,max=64`

Please let me know if that works for you :)

[2017-11-22 12:40] kickroot commented on #326
Ah, thanks so much.  I had not seen the `omitempty` directive.

[2017-11-22 12:40] #326 closed

[2017-11-28 04:54] bsbak opened #327 "translate field name"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:

How translate field name?

### Code sample, to showcase or reproduce:

the result of errs.Translate(trans) is:
```User.Password:Password это обязательное поле // Password is required field```
but i need:
```User.Password:Пароль это обязательное поле```

i was create package
[code]
then i was modify "gopkg.in\go-playground\val

[2017-11-28 15:42] joeybloggs commented on #327
Hey @bsbak thanks for the question,

what you’ve done is almost what is needed, the only changes I’d make are you don’t have to create your own field translator, but rather just add translations for the field names to the ut which the translate function already has access to; that way you don’t have to hack anything. You will have to `
RegisterTranslation` for each English translation just as you

[2017-11-29 12:31] #327 closed

[2017-12-07 15:09] gwan284 opened #328 "how to validate field value inside 3-rd party structure?"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

I have structure that contains `sql.NullFloat64` as field `Latitude`, for example.
I want `Float64` value inside `sql.NullFloat64` to be in range [-90; 90] in case of latitude.

Is there a way to enforce validation for `Float64` field inside `sql.NullFloat64` structure with `validate` tag? Or should I create custom type/vali

[2017-12-07 15:36] joeybloggs commented on #328
Hey @gwan284

You just need to register a `CustomTypeFunc` so that validator knows what to do about that type, there is an example of almost exactly what you want https://github.com/go-playground/validator/blob/v9/_examples/custom/main.go

Validator just uses that function so you can return the underlying value you wish to validate, in your case a float64.

Please let me know if this helps, or you

[2017-12-07 16:30] gwan284 commented on #328
So CustomTypeFunc function defines how to take underlying value from type for all values of that type met.

What if I have different rules for usages of `sql.NullFloat64` in another structs? Can this "ValueTaker" to be defined per object?

[2017-12-07 16:34] joeybloggs commented on #328
It knows how to extract for all values you've registered the type with; unfortunately there isn't a way to specify different behaviour per object using this... however if that is needed, you can register a `StructLevel` validation to treat structs differently, see [here](https://github.com/go-playground/validator/blob/v9/_examples/struct-level/main.go) for the example.

[2017-12-07 16:40] gwan284 commented on #328
Thanks for response again. Now it's absolutely clear.

[2017-12-12 16:53] #328 closed

[2017-12-12 16:53] joeybloggs commented on #320
Just checking in, I haven't forgotten about this, just been super busy.

[2017-12-12 16:56] skryja opened #329 "Validators boolean logic"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

I'm trying to test a struct with validation tags but i can't understand how the boolean logic works.
In this example it's expected that the validator on the Path attribute returns false value, but i don't know how it returns true, because the require.Error  in TestPatchOpValid fails.
I'm using two custom tags:

- isfield: it

[2017-12-13 05:56] joeybloggs commented on #329
Hello @skryja it's a little hard not knowing what the custom function do, but will try to layout the operations that should occur for the `Path` field:

Block1 & Block2 below are `AND`'s eg. `if Block1 and Block2 = validation success`

Block1
- first it will check `attrpath|eq=''`
  - if `attrpath` returns true, move to the next validation block
  - if `attrpath` returns false, move to `eq=''` if

[2017-12-13 10:30] skryja commented on #329
Thanks @joeybloggs for your answer,
but in the case of the test, `attrpath` and `eq` both return false so, as you said, it should stop the validation on the field and should return an error on the validation tag `eq` as I would like it to be in the test. Instead, the validation seems to continue and goes on Block2 and returns true because  of `isfield=Op:replace` and the test will fail.

[2017-12-13 14:55] joeybloggs commented on #329
Hey @skryja I may have solved this in a dream ;)

one thing I realized was the `eq=''` is probably not checking for what you want it’s equivalent to `Path == “''”` and not `Path == “”` and should be changed to `eq=`

Maybe I’m way off?

[2017-12-13 16:22] joeybloggs commented on #329
Hey @skryja I have confirmed that this is a bug and is due to the way I was checking when to terminate each or instance; will be fixed soon, nice catch 😄

[2017-12-13 16:54] #329 closed

[2017-12-13 17:02] joeybloggs commented on #329
Thanks @skryja for reporting, it should now be fixed in v9.9.1 release, please update and try again

if you have any more problems with it please let me know 😄

[2017-12-14 09:25] skryja commented on #329
Thanks @joeybloggs ...now it works! :)
Meanwhile my colleague @leogr found this alternative solution:

` isfield=Op:add|isfield=Op:replace|required,omitempty,attrpath`

If you want to take a look at what [isfield](https://github.com/fabbricadigitale/scimd/blob/develop/validation/isfield.go) and [attrpath](https://github.com/fabbricadigitale/scimd/blob/develop/validation/attrpath.go) validators do;

[2017-12-14 15:07] joeybloggs commented on #329
Thanks for that ! always interested in seeing how others are using it :) I may even add a few after seeing your like prefix and suffix validations.

oh and I noticed your issue 37 about the required tag failing, there are a few issue, think one still open tagged question, that explains required’s behavior, but to paraphrase:

required checks that the field is not the field types default value, for

[2017-12-16 08:40] amirkheirabadi opened #331 "Custom validation with param"
v9
is there a way to create a custom rule validation with params?
for example
[code]

[2017-12-16 16:33] joeybloggs commented on #331
Hey @amirkheirabadi I'm not 100% sure what you mean?

If you mean for the custom validation to always have a certain parameter, then why not hard-code the parameter in your custom validation?

If you mean you wish to have a custom validation that a parameter can be set, but you don't want to set it everywhere, you can use [Register Alias](https://godoc.org/gopkg.in/go-playground/validator.v9#Valid

[2017-12-23 08:01] moneyzmey opened #332 "Error on upgrade example"
### Version: v9

### Question

Hi, Im using your example for upgrading gin and got error:

[code]
system: Ubuntu 16.04.3 x64
go version go1.9.1 linux/amd64

But on Mac OS X 10.12.6
go version go1.8.1 darwin/amd64

everything is perfect. Could you help me with it ?

[2017-12-23 16:12] joeybloggs commented on #332
Hey @moneyzmey the error is pretty telling, it appears that in the gin code the interface definition has changed and now requires an additional function to be added to defaultValidator called RegisterValidation, I’ll try and update the example later today.

[2017-12-23 17:37] joeybloggs commented on #332
Hey @moneyzmey after digging into it a bit more it appears that in [this commit](https://github.com/gin-gonic/gin/commit/26c3f42095b8a1378617eb4756fbf8282cb1ae89#diff-a92bf789c90ffd65fa08f76b7fa75160) the added the `RegisterValidation` function as part of the interface contract, but in doing so directly tied the framework to v8 of validator.

I will be creating an issue to try and repeal that comm

[2017-12-24 09:51] alexdor opened #333 "Multiple RegisterStructValidation on a sing struct"
### Package version eg. v8, v9: v9

### Issue, Question or Enhancement: Question

I have registered 2 struct validations for the same struct, but only the 2nd one runs. Is there a way to have multiple custom validations for the same struct?

### Code sample, to showcase or reproduce:

[code]

[2017-12-25 10:29] moneyzmey commented on #332
Hi, @joeybloggs, Thanks for help!

[2017-12-26 14:03] joeybloggs commented on #333
Hey @alexdor

No currently there is no way to have multiple struct validations, internally only a reference to the struct's type is held, and why when registering 2 only the second is used as it overwrites/remaps the first. The reason that type is used is it's the only truly unique identifier between structs.

There are however there are some options, you could:
- Use [RegisterStructValidationCtx]

[2017-12-26 22:14] #333 closed

[2017-12-26 22:15] alexdor commented on #333
Hey @joeybloggs thanks for the response. Would you accept a pr that adds this feature?

[2017-12-27 02:28] joeybloggs commented on #333
@alexdor I would definitely consider a PR, it all depends on how it would work, performance considerations and if there were any breaking changes.

[2018-01-13 16:10] cch123 opened #335 "map value validation"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
Is it possible to add map validation support

### Code sample, to showcase or reproduce:
maybe like following:

[code]

[2018-01-14 22:15] joeybloggs commented on #335
Hey @cch123

On a key by Key basis no, there is not support for that specific scenario; I'd add such a thing but unfortunately there would be varying opinions on exactly how it should work i.e. should all keys have to match in the maps or not....

Once logic is this specific I recommend creating custom validation, it's pretty easy :)
[code]

or if you want a completely generic validation function

[2018-01-15 05:04] cch123 commented on #335
@joeybloggs , thx a lot! This solves my problem.

[2018-01-15 10:45] kerak19 opened #337 "FieldError Field function returns struct name instead of JSON tag"
I do have this struct:

[code]

Then i'm using `validate.Struct(data)` and i'm ranging over `ValidationErrors`.
Every `Field()` on `error` in `ValidationErrors` returns struct field instead of JSON tag.
For example, `data.Email` has json tag `"email"`, but it retuns `"Email"` instead.
Why is that? Documentation clearly says it should return JSON tag.

[2018-01-15 16:29] joeybloggs commented on #337
Hey @kerak19 can you point out exactly where in the documentation that it states it returns the json name by default? and I'll correct right away.

as for grabbing the `json` tag name, you have to register a tag name parser first eg.
[code]

it's done this way in order to allow for parsing of any tag name like json, bson, sql tags etc...

Please let me know if this was helpful :)

[2018-01-16 07:27] kerak19 commented on #337
So i probably misunderstood this:

    // returns the fields name with the tag name taking precedence over the
    // fields actual name.
    //
    // eq. JSON name "fname"
    // see ActualField for comparison
    Field() string

Thanks for your answer! :)

[2018-01-19 02:43] trvsysadmin opened #338 "Enhancement - Return Full Request JSON With Validation Errors"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

I have two clarification-question / suggestions:

1. We like to send back an error message to front-end-client the full details of the validation errors that occurred in a nested struct. After changing the namespace from the struct namespace to [a json tag](https://github.com/go-playground/validator/issues/337), invoking `Fi

[2018-01-19 17:28] joeybloggs commented on #338
Hey @trvsysadmin

for `2` I understand the confusion, the only thing I can think of is in the future have param return `[]string`; but even that's weird as the param values may not line up with the tags as not all have to have a param.

As for `1` that's pretty subjective question/suggestion;  normally I range through the `ValidationErrors` and build an array of objects containing the namespace an

[2018-01-20 03:20] trvsysadmin commented on #338
Nope that is all, thank you very much for your reply and thanks for your library!

Team here agrees a) is subjective and may not be the job of the core library. Will try to submit a PR for b) as an example. In general for b), we also found out that for cases like `len`, we can't quite find out what the evaluation result was. For example: `"user_friendly_message": "{{fieldName}} - length (not value

[2018-01-20 03:20] #338 closed

[2018-01-20 05:56] joeybloggs commented on #338
Thanks for your feedback about the evaluation result, I’ll definitely try and think of a way to incorporate that in the results if it makes sense :)

[2018-02-01 13:20] ryan-ju opened #339 "`FieldWithValue` is not anywhere in the code"
### Package version: v9

### Issue, Question or Enhancement:
`FieldWithValue` is in the godoc https://godoc.org/gopkg.in/go-playground/validator.v9, but does not exist anywhere in the source code.

Is the godoc out of date?

[2018-02-01 14:40] joeybloggs commented on #339
It was changed in v9 to `VarWithValue` to try and avoid some confusion as some people thought it had to be a struct field; must have missed updating it in the docs, thanks for reporting so I can correct them :)

[2018-02-03 18:52] joeybloggs commented on #339
@ryan-ju corrected in Release 9.9.4

[2018-02-03 18:52] #339 closed

[2018-02-07 12:01] dnartz opened #341 "Hostname begins with digits is not accpted by the validator."
The regex of hostname is:

[code]
For hostname like `1.foo.com`, it is rejected by the validator.
Accroding to [RFC1123](https://tools.ietf.org/html/rfc1123), valid DNS hostnames could be start with digits.

[2018-02-07 14:00] joeybloggs commented on #341
Thanks @dnartz I’ll take a look as soon as I can,
If you wanted to make a PR That’d be awesome too :)

[2018-02-13 12:37] JulienBreux opened #342 "How to easly test a custom validator?"
### Package version eg. v8, v9:

About the v9 package

### Question:

In my case, I have this validator:

[code]

### How can I test without to rewrite all mock interface easly?

[code]

Thanks!

[2018-02-13 14:10] JulienBreux commented on #342
[code]

[2018-02-13 14:10] #342 closed

[2018-02-15 16:57] joeybloggs commented on #341
Hey @dnartz I added a new validation in [Release v9.10.0](https://github.com/go-playground/validator/releases/tag/v9.10.0) for RFC 1123 hostname called `hostname_rfc1123`

I put a note in the release of how to continue to use the `hostname` tag with it.

[2018-02-20 09:28] gebv opened #344 "looped call CustomTypeValuer fn"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

Why a looped call PointValuer?

### Code sample, to showcase or reproduce:

[code]

[2018-02-20 10:06] gebv commented on #344
Looped here

https://github.com/go-playground/validator/blob/v9/util.go#L47

I'm not using the Var function correctly for custom type validation? Please advice @joeybloggs

[2018-02-20 15:57] joeybloggs commented on #344
Hey @gebv I think there may be confusion about what `RegisterCustomTypeFunc` is for; here is an example https://github.com/go-playground/validator/blob/v9/_examples/custom/main.go

`RegisterCustomTypeFunc` is really for registering a function to take a certain type and transmute the data into what you want to validate eg.

if I wanted to validate that an [sql.NullString](https://golang.org/pkg/dat

[2018-02-20 16:52] gebv commented on #344
I need to validate the lat lng coordinates
Created a custom data type
[code]
Added a custom validator, for example always returns false
[code]

I want that here I got an error
[code]

I look at the log, validator was not called. How do I validate a custom type?

[2018-02-21 06:18] gebv commented on #344
So, i want got for the my custom object for custom validation.

[code]

 @joeybloggs please any ideas

[2018-02-21 06:35] joeybloggs commented on #344
Normally validating with .Var isn’t for struct so have been thinking about how to accomplish this best.

I think creating a StructLevel validation is what your looking for and in that you can do your inmsk check, and report the error as you see fit and then you can use the validate.Struct instead of validate.Var. There should be an example in the repo.

Sorry for the lack of examples, answering fr

[2018-02-21 08:38] gebv commented on #344
Yes, please attache your examples
Meanwhile I'll see how StructLevel works

[2018-02-21 15:22] joeybloggs commented on #344
@gebv

So there are 3 ways to handle this, the decision is up to you which to implement:
1. Struct level
[code]

2. Custom Type
[code]

3. Use the NullPoint inner structure(assuming `Valid` == `in_msk`
[code]

please let me know if this helps :)

[2018-02-22 21:05] ansel1 commented on #313
There's a new validation added which could help.

    Gender string `validator="oneof=male female n/a"`

I'm actually not sure if the slash will work, not sure if that's a reserved character.  But may be useful anyway.  Works with strings or whole numbers.

[2018-02-26 17:41] exordium-frozen opened #345 "Inconsistent comment in example for case `simple`."
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
Example for `simple` case is inconsistent with the docs and code.
[Here is confusing comment about `ValidationErrors`](https://github.com/go-playground/validator/blob/v9/_examples/simple/main.go#L55)

[2018-02-26 18:17] joeybloggs commented on #345
Thanks will update!

[2018-02-27 19:05] jpfluger commented on #335
This was a great example. Thanks! :+1:

[2018-02-27 23:09] lansana opened #346 "Custom regexp validator not working properly"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
I created a custom `regexp` validator, and it works for one regular expression but panics on another. I've confirmed the regular expression that paniced is a valid regular expression and works properly with my custom validator function, so I assume this is a bug with the internals of this package.

I am getting this error:
[co

[2018-02-28 16:41] joeybloggs commented on #346
Hey @lansana, I touch on this in the docs:
[code]

To summarize I highly recommend you don't use a regex validator, many of the common characters used in regexes will conflict with the built-in characters when the tags are parsed; in your specific case the `|` is a special character that represents and `or`.

I have added the ability to work around such things, also in the docs:

Pipe ("|") is the

[2018-03-01 01:39] lansana commented on #346
Ah, thank you for the explanation. In fact, I think the approach of making custom validators per regular expression is the better way to go, because it makes things more maintainable. I ran into the issue of having to copy/paste a regexp over to multiple validators, didn't think of that approach before.

Cheers!

[2018-03-01 01:39] #346 closed

[2018-03-02 07:34] vbmade2000 opened #347 "Update failed for gopkg.in/go-playground/validator.v8: Cannot detect VCS"
### Package version eg. v8, v9:
v8

### Issue, Question or Enhancement:
Issue

### Code sample, to showcase or reproduce:

[2018-03-02 15:42] joeybloggs commented on #347
GitHub experienced a DDoS attack and was down for approx 10 minutes and is the most likely cause.

It is also likely that Gopkg.in experienced some issues around the same time.

It appears to be up and working now, if you could please try again to see if the problem is resolved.

[2018-03-02 16:03] vbmade2000 commented on #347
@joeybloggs Same issue again.

[2018-03-02 16:26] joeybloggs commented on #347
Have you tried any of the following:
- attempted to `go get gopkg.in/go-playground/validator.v8` directly?
- can you git clone the https://github.com/go-playground/validator directly
- can you visit [this](http://gopkg.in/go-playground/validator.v8) page in your browser?, should look like:
![image](https://user-images.githubusercontent.com/8068371/36909397-af983d80-1df2-11e8-9587-dbe442b83a28.png)

[2018-03-02 16:33] vbmade2000 commented on #347
Yes. Getting following output.
package gopkg.in/go-playground/validator.v8: unrecognized import path "gopkg.in/go-playground/validator.v8" (https fetch: Get https://gopkg.in/go-playground/validator.v8?go-get=1: dial tcp: lookup gopkg.in on 127.0.0.53:53: read udp 127.0.0.1:42094->127.0.0.53:53: i/o timeout)

Yes

Yes

Ubuntu 17 64 bit

git version 2.14.1

No

Disabled

May my system has some issue

[2018-03-02 16:57] joeybloggs commented on #347
Those addresses seem a little strange... why is it trying to lookup on port 53? I'd look into that first.

[2018-03-02 17:12] vbmade2000 commented on #347
Make sense. I'll check that. Thanks.

[2018-03-05 15:06] #318 closed

[2018-03-05 15:07] #331 closed

[2018-03-05 16:57] frednomoon opened #349 "Validating (and rejecting based upon) additional map fields"
### Package version eg. v8, v9:

v9

### Question / Enhancement:

Apologies in advance if I have missed something or misunderstood some part of the pkg, but I have been not been able to find a way to validate whether a `map[string]interface{}` contains only the correct fields.

For example we may have the following struct,

[code]

I receive a HTTP request with the following JSON body
[code]

We c

[2018-03-09 15:20] gebv commented on #344
Thanks @joeybloggs for detailed response
Right for me Custom Type. But I was in disarray PointValuer must return a simple type otherwise looped.

[2018-03-09 15:20] #344 closed

[2018-03-23 14:52] joeybloggs commented on #349
Hey @frednomoon sorry about the delay I must admit this one slipped through the cracks.

I'll try and give it a look next week, it is an interesting use case

[2018-03-29 08:46] sudo-suhas opened #352 "RegisterStructValidation does not work on pointer types"
### Package version eg. v8, v9:

`v8.18.2`

### Issue, Question or Enhancement:

Issue

### Code sample, to showcase or reproduce:

[code]

This does not call the struct validation function. If this is known behavior and has been documented somewhere, I apologise.

[2018-03-29 14:51] joeybloggs commented on #352
Hey @sudo-suhas

Ya when registering a struct level validation you should use a non-pointer struct, in your case `User{}`

by the time the code checks the type whether it be a pointer or not it will have been derefferenced already so in your StructLevel validation you should cast to a non pointer as well. I probably need to add some docs on this explaining. The validation lib will work with both p

[2018-03-30 21:24] jeevatkm opened #353 "Integrated as default Validator for aah framework"
Hello @joeybloggs - I'm Jeeva, author of [aah framework](https://aahframework.org). I thought to inform you in `v0.10` release `validator` library have been integrated as default validator module by users recommendation go-aah/aah#132 and [documentation](https://docs.aahframework.org/validation.html).

Looking forward to your support if aah user ran into issues/question, please assist them. Thank

[2018-03-30 23:50] joeybloggs commented on #353
Thanks for the heads up @jeevatkm will endeavour to help anyone out.

I saw in your examples about validating query params individually, if I could make a suggestion, I tend to unmarshall them into a struct and then validate which seems better than doing it one by one.

P.S. if your interested I also have a fully complete form parser and encoder https://github.com/go-playground/form which handles

[2018-03-31 00:21] jeevatkm commented on #353
@joeybloggs Thank you for your suggestions. Yes I agree your suggestion is good one.

Actually I given that choice to the aah users, aah has [Auto bind module](https://docs.aahframework.org/request-parameters-auto-bind.html) which maps any `Path`, `Form`, `Query` into struct fields and nested struct fields.

If user uses the struct to map values then aah applies the validation automatically and gi

[2018-03-31 10:12] sudo-suhas commented on #352
Thanks for the response @joeybloggs. As you mentioned, I think some docs calling this out would be great. And do you think it would make sense to panic/return an error in the case a pointer is used while registering the struct validation? I did not notice that some validation was being missed for a long time.

[2018-03-31 14:49] joeybloggs commented on #352
@sudo-suhas I will definitely add to the docs and see what I can't do about throwing an error

[2018-04-04 13:26] gangstaJS opened #354 "Strict sequence? is validation tag must be first?"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

Question

### Code sample, to showcase or reproduce:

[code]

[2018-04-04 14:06] joeybloggs commented on #354
Hey @gangstaJS

No this should not be strictly ordered at all, it uses Tag.Get https://golang.org/pkg/reflect/#StructTag.Get here https://github.com/go-playground/validator/blob/v9/cache.go#L135 to retrieve the tag information.

I will check this morning to be sure though, would you be able to post some additional information about your OS and Go version and maybe an expanded version of the logic/

[2018-04-04 18:01] gangstaJS commented on #354
Go version: go version go1.10 darwin/amd64. MacOS High Sierra 10.13.3

[code]

[2018-04-06 20:48] blackstar257 commented on #349
I just ran into this as well.

[2018-04-07 00:57] joeybloggs commented on #349
@blackstar257 @frednomoon just to let you know I haven't forgotten, just really busy

off the top of my head I would say a custom validation is probably best and unmarshal into map then
`validate.Var(<map>, "custom validation")`

and if all is well then unmarshal into the struct and run validation against the struct, it's not ideal but a workaround for now.

[2018-04-07 15:13] joeybloggs commented on #354
@gangstaJS finally found time to look at this, I can confirm that validator is working correctly, it's actually how you defined your struct tags.

You have a `,` comma in-between the separate tags `validate` and `json` and so the tag parse doesn't look past the first tag defined in the second case.

eg. `json:"password",validate:"required,alphanum,gte=6"`

should be `json:"password" validate:"requ

[2018-04-07 18:01] vbmade2000 commented on #347
@joeybloggs Yes. It was issue with my system.

[2018-04-07 18:01] #347 closed

[2018-04-10 12:05] gangstaJS commented on #354
Thanks! It is strangely cuz json annotation still works when I am doing  `validate:"required,alphanum,gte=6",json:"password"`

[2018-04-10 12:57] joeybloggs commented on #354
They must parse the tag differently for some reason.

[2018-04-13 02:03] insamo opened #356 "Can't validate numeric, number values"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

Hello, I can't validate integers varaibles, maybe i do something wrong

go version go1.10.1 linux/amd64

### Code sample, to showcase or reproduce:

[code]
Returns
[code]
Thanks

[2018-04-24 23:59] ralekseenkov opened #357 "Custom error messages for StructLevel validators?"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
Let's assume I'm validating a struct and there is a string field `template` which should compile successfully as a valid `text/template`. If it doesn't compile, I want to know the underlying syntax error.

The problem is that, when I'm validating a field using `validator.FieldError`, there is only have an option to return bool

[2018-04-25 02:34] #354 closed

[2018-04-30 19:57] ralekseenkov commented on #357
We are already using translations and they are not going to help in this case.

If you look at the code snippet, field level validators only return true/false. But there is no way to return a custom error. I.e. if I get an err from `template.NewTemplate(fl.Field().String())`, I can only check whether it's nil or not. There is no way for me to return the string of that `err` to an end user.

We we

[2018-05-03 11:58] danielpoe opened #359 "Email - Hostname is not validated correctly"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
According to http://www.ietf.org/rfc/rfc1123.txt
Hostnames are limited  to letters-digits-hyphen

Currently underscores are allowed in the validator

### Code sample, to showcase or reproduce:

[code]

[2018-05-04 12:32] jservice-rvbd opened #360 "Extend unique tag to map values."
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

Enhancement:  Can the unique tag be extended to also validate map values?  Or, alternatively, can a tag such as uniquevalues be added?

### Code sample, to showcase or reproduce:

[code]

[2018-05-05 16:30] joeybloggs commented on #356
I'll try and take a look soon @insamo

[2018-05-05 16:32] joeybloggs commented on #357
@ralekseenkov I see what you mean now, yes currently there is no way to do this; but it would be a great enhancement!

I will add it to the improvements for v10

[2018-05-05 16:35] joeybloggs commented on #359
@danielpoe thanks for reporting, I will try and get to this, but might take a little bit, PR's are welcome if you would like it sooner :)

[2018-05-05 16:36] joeybloggs commented on #360
@jservice-rvbd merged your PR in v9.16.0

[2018-05-05 16:36] #360 closed

[2018-05-05 17:40] insamo commented on #356
Thx @joeybloggs

[2018-05-05 17:46] ralekseenkov commented on #357
ok, thanks!

if you want to take a look at how we are using the library:
- https://github.com/Aptomi/aptomi/blob/master/pkg/lang/validation.go
- https://github.com/Aptomi/aptomi/blob/master/pkg/lang/contract.go (one of the structs we are validating)

[2018-05-09 15:00] jadhub commented on #359
I supplied a PR for this: https://github.com/go-playground/validator/pull/362

[2018-05-09 15:30] #359 closed

[2018-05-09 16:00] #356 closed

[2018-05-09 16:03] joeybloggs commented on #356
@insamo corrected this behaviour in [v9.17.0](https://github.com/go-playground/validator/releases/tag/v9.17.0)

this was originally only intended to be used on a string but makes sense when dealing with `interface{}`

[2018-05-10 15:10] syssam opened #364 "How can I translate fieldName?"
How can I translate fieldName?

[2018-05-13 15:20] syssam opened #365 "Please provide a RegisterFiledNameFunc for translate"
RegisterTagNameFunc is using for json key and fieldName,
For example, I would like the return is
[code]

But now is return
[code]

So, please add RegisterFiledNameFunc for diff filed name and json key name.
On the other hand, if I have define the json name, it should use the json name, and not Namespace + json name, please improve it

[2018-05-14 15:07] joeybloggs commented on #364
Hey, @syssam  to do this you'll have to register your own translations and either reference an external object to translate, like a map or use the translator already being used; below is an example of the latter.

[code]

let me know if you have any questions.

[2018-05-14 15:11] syssam commented on #364
But I am using gopkg.in/go-playground/validator.v9/translations/en",
This case will be replace it?

[2018-05-14 15:16] syssam commented on #364
According my current understanding, I can using RegisterTagNameFunc to translations the field name, but it will be cause the json key also translated.
Is my usage wrong?

[2018-05-14 15:18] joeybloggs commented on #365
Hey @syssam I think there's maybe some confusion about how this all works, the way you are seeing this is just the default error message this library uses see [here](https://github.com/go-playground/validator/blob/v9/errors.go#L251) and [here](https://github.com/go-playground/validator/blob/v9/errors.go#L43)

You are able to type cast to those error types and format any error message you wish, thi

[2018-05-14 15:36] syssam commented on #365
Hi @joeybloggs , Yes, I am really confused.
I want to do a translations for error message, but I don't know how to do it.So, I open the issue #364 , then I read sample, I find out the RegisterTagNameFunc , I think this function is my need.

Would you provide more clearly sample to using validator and locale, like the result
"error":{
"email": "Email is a required field",
"first_name": "First Name

[2018-05-14 15:47] joeybloggs commented on #364
although `RegisterTagNameFunc` could technically be used to affect the translation, that's not what it was designed for; it's more for being able to pass error information back to a caller, such as and HTTP API and used client side.

for example, if you were using this library in an HTTP API the field name could be used as the name of the test field which the javascript need to set an error in.

I

[2018-05-14 15:54] joeybloggs commented on #365
Here is a quick example, have to start my day, will try to make a better full example later, but it's basically what was done in #364  in combination with this: (which can easily be hidden behind a reusable function. )

[code]

[2018-05-15 03:09] syssam commented on #365
um, I using this method before,
like https://github.com/syssam/go-playground-sample/blob/master/main.go

[2018-05-15 07:03] syssam commented on #364
um, I have an idea, load a json file, like lang/en/validation.json
Struct below
[code]
The validator default will be load en, provide a function load another lang.
The user can be easy to change the custom message or not
Because the json only will be load one time on the validataion Init, so I think the performance will not be afftect.

[2018-05-16 10:20] ryan-ju opened #366 "More documentation on register translators"
### Package version eg. v8, v9:
v9

### Issue, Question or Enhancement:
The translator registration part isn't clear on how it works, and the example is not very helpful (https://github.com/go-playground/validator/blob/v9/_examples/translations/main.go)

In particular, the confusing part is this:

https://github.com/go-playground/validator/blob/v9/_examples/translations/main.go#L48
[code]

`trans`

[2018-05-16 15:33] joeybloggs commented on #366
@ryan-ju I will try and look into adding a better example and documentation, for now here is a brief overview and how this is set up for i18n:

It all starts with the [locales](https://github.com/go-playground/locales) which provides the various languages translation and formatting rules.

I then have another package [universal-translator](https://github.com/go-playground/universal-translator) whi

[2018-05-16 15:43] joeybloggs commented on #364
@syssam it's not a bad idea, just not a direction I want to take the validation library in, I think this functionality should remain in the realm of the translator/translation engine.

for example [universal-translator](https://godoc.org/github.com/go-playground/universal-translator#UniversalTranslator.Import) already provides similar functionality and handles l10n, which the above example does no

[2018-05-16 15:45] joeybloggs commented on #366
@syssam as I stated this is designed for i18n and I don't intend to provide a way for validator to be locked into a single locale for translations; I believe it's that callers job to make that determination.

[2018-05-16 16:12] syssam commented on #364
Yes, I know universal-translator already provides similar functionality.

Sometimes, we need translation from other people, but we do not send a "golang" file, because the translator do not know the program. JSON format is more common and easily to tell the translator how to do it.

On the other hand, useris more easily to understand and custom own error message and more normally.I saw many framew

[2018-05-23 15:35] codasols opened #367 "Custom validation tag is ignored when validating a field that is of type struct"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

The custom validation tag appears to have no impact when it is used against a field that is of type struct. If the tag is not registered, the validator library panics as expected, however if the tag is registered and deliberately set to return false, I would expect validation to fail.

However it does not.

Is this intended

[2018-05-25 04:10] 0xdevalias opened #368 "Struct validation tag has to come first?"
### Package version eg. v8, v9:

v9

### Issue, Question or Enhancement:

I was attempting to get some basic validation on my existing struct that looked similar to:

[code]

When running the validator as per the example, with invalid data, I wasn't seeing any issues.

On a whim I decided to try putting the `validate` tag first.. just in case, and now the validation works.

[code]

I was under the